@import 'colors';
@import 'index';

.tag {
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
  border: 0.78px solid #9d8dd8;

  h5 {
    color: #6f6c90;
    font-size: 1.407rem;
    font-weight: 700;
    line-height: 21.9px;
    margin: auto;
  }
}
.user-profile-photo-loader {
  min-width: 100%;
  min-height: 100%;
}
.details-loader {
  display: flex;
  padding: 2rem 0;
  //  background-color: rgba(0, 128, 0, 0.57);
  .left-content {
    width: 50%;

    .name {
      width: 70%;
      height: 5rem;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
    .niche,
    .city {
      width: 50%;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
  }
  .right-content {
    width: 50%;
    .tags,
    .skills {
      width: 50%;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
    .skills{
       width: 70%;
    }
  }
}
.skeleton-loader {
  display: block;
  background-color: #bdc3c7;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
