@import 'colors';
@import 'index';
.skeleton-loader {
  display: block;
  background-color: #bdc3c7;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
.tag {
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
  border: 0.78px solid #9d8dd8;

  h5 {
    color: #6f6c90;
    font-size: 1.407rem;
    font-weight: 700;
    line-height: 21.9px;
    margin: auto;
  }
}
.user-profile-photo-loader {
  min-width: 100%;
  min-height: 100%;
}
.user-profile-photo-loader2 {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.details-loader {
  display: flex;
  padding: 2rem 0;
  .left-content {
    width: 50%;
    @media screen and (max-width: '600px') {
      width: 100%;
    }
    .name {
      width: 70%;
      height: 5rem;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
    .niche,
    .city {
      width: 50%;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
  }
  .right-content {
    width: 50%;
    @media screen and (max-width: '600px') {
      display: none;
    }
    .tags,
    .skills {
      width: 50%;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
    .skills {
      width: 70%;
    }
  }
}
.bio-loader {
  padding: 2rem 0;
  .details {
    margin-bottom: 2rem;
    .title,
    .title2 {
      width: 8rem;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 1rem;
    }
    .title2 {
      width: 16rem;
    }
    .info {
      width: 70%;
      height: 4rem;
      border-radius: 1.6rem;
      margin-bottom: 0.1rem;
    }
  }
}
.social-links-loader {
  padding: 2rem 0;
  .details {
    margin-bottom: 2rem;
    .title {
      width: 8rem;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 1rem;
    }
    .info {
      width: 70%;
      height: 4rem;
      border-radius: 1.6rem;
      margin-bottom: 0.1rem;
      @media screen and (max-width: '600px') {
        width: 100%;
      }
    }
  }
}
.group-loader {
  padding: 2rem 0;

  .details {
    margin-bottom: 2rem;

    .title {
      width: 8rem;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 1rem;
      @media screen and (max-width: '600px') {
        margin-bottom: 2rem;
      }
    }
    .info-con {
      display: flex;
      column-gap: 4rem;
      justify-content: space-between;
      @media screen and (max-width: '600px') {
        flex-direction: column;
        row-gap: 3rem;
      }
      .info {
        width: 50%;
        height: 4rem;
        border-radius: 1.6rem;
        margin-bottom: 0.1rem;
        @media screen and (max-width: '600px') {
          width: 100%;
        }
      }
    }
  }
}
.posts-loader {
  padding: 2.9rem;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px #080f340a;
  // background-color: green;
  .card-top {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 4rem;
    .profile-photo {
      min-width: 5.5226rem;
      min-height: 5.5226rem;
      max-width: 5.5226rem;
      max-height: 5.5226rem;
      border-radius: 50%;
      overflow: hidden;
    }
    .card-details {
      width: 100%;
      height: 7rem;
      .name:empty {
        width: 70%;
        height: 2rem;
        border-radius: 1.6rem;
        margin-bottom: 1rem;
      }
      .role:empty,
      .time:empty {
        height: 1.8rem;
        width: 50%;
        border-radius: 1.6rem;
        margin-bottom: 1rem;
      }
      .time:empty {
        height: 1.5rem;
        width: 20%;
      }
    }
  }
  .card-text {
    height: 1.8rem;
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
  }
  .card-content {
    height: 45.8rem;
    width: 100%;
    border-radius: 1.6rem;
  }
  .card-content2 {
    height: 8rem;
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
  }
}
.posts-loader-2 {
  display: flex;
  column-gap: 4rem;
  @media screen and (max-width: '600px') {
    flex-direction: column;
    row-gap: 4rem;
  }
}
.job-cards-loader {
  padding: 2.9rem;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 2.3878rem;
  // border: 1.194px solid rgba(128, 124, 139, 0.25);
  background: #fff;
  box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
    rgba(8, 15, 52, 0.04);
  padding: 4.5rem 5.1rem;
  display: flex;
  column-gap: 10.0997%;
  height: 23.8rem;
  margin-bottom: 2rem;
  @media screen and (max-width: '600px') {
    width: 100%;
    padding: 2.5rem 2.8rem;
    display: flex;
    column-gap: 10.0997%;
    position: relative;
    height: 22rem;
    margin-bottom: 2rem;
  }
  .profile-photo {
    min-width: 5.8rem;
    min-height: 5.8rem;
    max-width: 5.8rem;
    max-height: 5.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .card-details {
    width: 100%;
    height: 7rem;
    .role:empty {
      width: 70%;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 1rem;
    }
    .company:empty,
    .location:empty {
      height: 1.8rem;
      width: 25%;
      border-radius: 1.6rem;
      margin-bottom: 2rem;
    }
    .location:empty {
      height: 1.5rem;
      width: 50%;
      margin-bottom: 5rem;
    }
    .salary-type {
      display: flex;
      column-gap: 4.5rem;
      margin-bottom: 3.2rem;
      border-radius: 1.6rem;
      .salary:empty,
      .type:empty {
        height: 1.5rem;
        width: 30%;
        border-radius: 1.6rem;
      }
    }
    .just-posted:empty {
      height: 1.5rem;
      width: 20%;
      border-radius: 1.6rem;
    }
  }

  .card-text {
    height: 1.8rem;
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
  }
  .card-content {
    height: 45.8rem;
    width: 100%;
    border-radius: 1.6rem;
  }
  .card-content2 {
    height: 8rem;
    width: 100%;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
  }
}
.forum-cards-loader {
  padding: 1.9rem;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 2.3878rem;
  background: #fff;
  box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
    rgba(8, 15, 52, 0.04);
  padding: 4.5rem 2.1rem;
  height: 29.8rem;
  margin-bottom: 2rem;
  @media screen and (max-width: '600px') {
    width: 100%;
    padding: 0.5rem 0.8rem;
    display: flex;
    column-gap: 10.0997%;
    position: relative;
    height: 22rem;
    margin-bottom: 2rem;
  }
  .forum-name {
    min-height: 3.5rem;
    max-height: 3.5rem;
    width: 70%;
    overflow: hidden;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
  }
  .details {
    width: 100%;
    margin-bottom: 3rem;
    height: 10rem;
    .detail:empty {
      width: 100%;
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 0.51rem;
    }
  }
  .join {
    width: 11.3rem;
    height: 3rem;
    border-radius: 1.6rem;
    margin-bottom: 0.51rem;
    margin: 0 auto;
  }
}
.forum-cards-loader-2 {
  display: flex;
  column-gap: 2rem;
}
.media-loader {
  width: 100%;
  height: 45.8rem;
  border-radius: 1.6rem;
}
.single-line-loader {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
}
.single-line-loader-2 {
  width: 100%;
  height: 100%;
}
.double-line-loader {
  width: 100%;
  height: 100%;

  .line-1 {
    width: 90%;
    height: 50%;
    border-radius: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .line-2 {
    width: 70%;
    height: 50%;
    border-radius: 1.6rem;
  }
}
.forum-details-loader {
  width: 100%;
  margin-bottom: 3rem;

  .title {
    width: 10rem;
    height: 2rem;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
  }
  .about,
  .info {
    margin-bottom: 3rem;
  }
  .side-wrapper {
    width: 40%;
    margin-left: auto;
    @media screen and (max-width: '500px') {
      width: 100%;
    }
  }
  .admin {
    margin-top: 10rem;
    .admin-details {
      display: flex;
      align-items: flex-start;
      column-gap: 2rem;
      .admin-photo {
        min-height: 7.192rem;
        min-width: 7.192rem;
        border-radius: 50%;
        overflow: hidden;
      }
      .info {
        width: 100%;
      }
    }
  }
  .wrapper {
    margin-bottom: 2rem;
    .line-1,
    .line-2,
    .line-3,
    .line-4,
    .line-5,
    .line-6,
    .line-7 {
      height: 2rem;
      border-radius: 1.6rem;
      margin-bottom: 0.5rem;
    }
    .line-1 {
      width: 90%;
    }
    .line-2 {
      width: 70%;
    }
    .line-3 {
      width: 50%;
    }
    .line-4 {
      width: 70%;
    }
    .line-5 {
      width: 40%;
    }
    .line-6 {
      width: 100%;
      @media screen and (max-width: '500px') {
        width: 80%;
      }
    }
    .line-7 {
      width: 30%;
    }
  }
}
.event-loader {
  .con {
    width: 90%;
    margin: 0 auto;
    .wrapper {
      width: 70%;
      @media screen and (max-width: '600px') {
        width: 100%;
      }
      .details {
        width: 70%;
        min-height: 200px;
        padding: 40px 30px;
        border-radius: 30px;
        // border: 0.78px solid #9d8dd8;
        box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
          rgba(8, 15, 52, 0.04);
        margin-bottom: 4rem;
        @media screen and (max-width: '600px') {
          width: 100%;
        }
        .title {
          height: 3rem;
          width: 70%;
          margin-bottom: 3rem;
        }
        .info {
          width: 100%;
          display: flex;
          @media screen and (max-width: '600px') {
            flex-direction: column;
          }

          .box {
            width: 50%;
            @media screen and (max-width: '600px') {
              width: 100%;
            }
            .top {
              width: 30%;
              height: 2rem;
              margin-bottom: 1rem;
            }
            .bottom {
              width: 70%;
              height: 2rem;
              margin-bottom: 1rem;
              @media screen and (max-width: '600px') {
                width: 100%;
              }
            }
          }
        }
      }
      .about {
        box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
          rgba(8, 15, 52, 0.04);
        padding: 40px 30px;
        border-radius: 30px;
        margin-bottom: 3rem;
        .title {
          width: 10rem;
          height: 3rem;
          margin-bottom: 3rem;
        }
        .info {
          margin-bottom: 4rem;
          .long {
            width: 90%;
            height: 2rem;
            margin-bottom: 0.5rem;
          }
          .short {
            width: 60%;
            height: 2rem;
            margin-bottom: 0.5rem;
          }
          .short-2 {
            width: 30%;
            height: 2rem;
            margin-bottom: 0.5rem;
          }
        }
      }
      .tags {
        box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
          rgba(8, 15, 52, 0.04);
        padding: 40px 30px;
        border-radius: 30px;
        margin-bottom: 3rem;
        .title {
          width: 10rem;
          height: 3rem;
          margin-bottom: 3rem;
        }
        .tags-con {
          display: flex;
          column-gap: 3rem;
          width: 100%;

          .item {
            width: 14rem;
            height: 3rem;
          }
        }
      }
      .event-creator {
        box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
          rgba(8, 15, 52, 0.04);
        padding: 40px 30px;
        border-radius: 30px;
        margin-bottom: 5rem;
        background-color: #fff;
        .title {
          width: 10rem;
          height: 3rem;
          margin-bottom: 3rem;
        }
        .info {
          display: flex;
          column-gap: 2rem;
          align-items: center;
        }
        .name {
          width: 30%;
          height: 2.4rem;
          @media screen and (max-width: '600px') {
            width: 60%;
          }
        }
      }
    }
  }
}
