@import 'colors';
@import 'index';

.community-forums-wrapper {
  background-color: $body-bg;
  line-height: 100%;
  position: relative;
  // .create-community-modal-wrapper {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba($color: #000000, $alpha: 0.4);
  //   top: 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  // }

  // .create-community-modal {
  //   // max-width: 848px;
  //   // padding: 40px 30px;
  //   // background-color: #fff;
  //   // border-radius: 30px;
  //   // box-sizing: border-box;

  //   // @media screen and (max-width: "900px") {
  //   //   width: 90%;
  //   // }

  // }

  .create-community-form {
    .error-message {
      color: #c72235;
      font-size: 12px;
    }
    .input-wrapper {
      margin-bottom: 15px;
      label {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
        span {
          color: #c72235;
        }
      }

      input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #cfd0d5;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
      }

      textarea {
        width: 100%;
        border: 1px solid #cfd0d5;
        height: 150px;
        padding: 10px;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }

      .radio-wrapper {
        display: flex;
        gap: 20px;
        margin-top: 10px;
        label {
          font-size: 14px !important;
          color: #6f6c90;
          span {
            font-weight: 800;
            color: #6f6c90;
          }
        }
        input {
          width: 23px;
          height: 23px;
        }
      }
    }
  }

  // background: #fbfbfc;
  .banner-section {
    .page-title-wrapper {
      // height: 23.8rem;
      padding: 12rem 0 7.1rem;
      @media screen and (max-width: '1280px') {
        height: 22.2rem;
        padding: 10.5rem 0 7.1rem;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        h3 {
          color: #000;
          font-size: 4rem;
          line-height: 117%;
        }
      }
    }
    .banner-wrapper {
      position: relative;
      width: 100%;
      height: 31.4rem;
      @media screen and (max-width: '500px') {
        display: none;
      }
      .banner-gradient {
        background: linear-gradient(
          180deg,
          rgba(51, 36, 107, 0),
          rgba(52, 36, 107, 0.65),
          rgba(52, 36, 107, 1)
        );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        .banner-content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          h3 {
            color: #fff;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 216.682%;
          }
        }
      }
    }
  }
  .communities-wrapper {
    padding: 0;
    .content-wrapper {
      padding-top: 20px;
      border-bottom: 1px solid #d8d1ef;
      @media screen and (max-width: '500px') {
      }
      .loader{
        padding: 8rem 0;
      }
      .forums-true {
        padding: 6.4rem 0 14rem;
        @media screen and (max-width: '600px') {
          padding: 6.4rem 0 8rem;
        }
        .search-box {
          width: 100%;
          margin-bottom: 2.1rem;
          display: flex;
          justify-content: flex-end;
          @media screen and (max-width: '500px') {
            justify-content: center;
          }
          .search-box-wrapper {
            // width: 22.7273%;
            width: 30rem;
            @media screen and (max-width: '500px') {
              width: 100%;
            }
          }
        }
        .section-title {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          margin-bottom: 4rem;
          h3 {
            color: #000;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 117%;
          }
          p {
            color: #b3b0b9;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 117%;
          }
          .loading-state {
            width: 5rem;
            height: 3rem;
          }
        }
        .cards-wrapper {
          .community-card {
            max-width: 34.0246rem;
            height: 35.3524rem;
            border-radius: 2.4896rem;
            display: flex;
            flex-direction: column;
            box-shadow: 0.8083395957946777px 0.8083395957946777px
              9.700075149536133px 0px rgba(51, 36, 106, 0.12);
            @media screen and (max-width: '600px') {
              flex-direction: row;
              min-height: 7rem !important;
              overflow: hidden;
              border-radius: 1.2rem;
              box-shadow: 0.0083395957946777px 0.2083395957946777px 0px
                rgba(51, 36, 106, 0.12);
              max-width: 100%;
            }
            .card-body {
              border-radius: 2.4896rem 2.4896rem 0 0;
              overflow: hidden !important;
              width: 34.0246rem;
              height: 24.3152rem;
              position: relative;
              @media screen and (max-width: '600px') {
                max-width: 7rem;
                height: 7rem;
                border-radius: 1.2rem 0 0 1.2rem;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .recently-joined {
                position: absolute;
                top: 13px;
                right: 11px;
                display: flex;
                // width: 15.0331rem;
                height: 3.3195rem;
                padding: 0 1.425rem;
                justify-content: center;
                align-items: center;
                border-radius: 80.834px;
                border: 0.808px solid #7a6d9f;
                background: #fff;
                box-shadow: 0.8083395957946777px 0.8083395957946777px
                  9.700075149536133px 0px rgba(51, 36, 106, 0.12);
                @media screen and (max-width: '600px') {
                  display: none;
                }
                h5 {
                  color: #33246a;
                  text-align: center;
                  font-size: 1.455rem;
                  font-weight: 700;
                  line-height: 100%;
                  margin: auto 0;
                }
              }
            }
            .card-footer {
              border-radius: 0 0 2.4896rem 2.4896rem;
              // background: #fff;
              height: 11.037rem;
              padding: 0 2.656rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              @media screen and (max-width: '600px') {
                height: 7rem;
                border-radius: 0 1.2rem 1.2rem 0;
                width: 100%;
              }
              .info {
                @media screen and (max-width: '600px') {
                  display: flex;
                  align-items: center;
                  column-gap: 2rem;
                }
                h3 {
                  color: #170f49;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 100%;
                  cursor: pointer;
                  @media screen and (max-width: '600px') {
                    margin-bottom: 0;
                  }
                }
                .members-wrapper {
                  display: flex;
                  column-gap: 0.5rem;
                  align-items: center;
                  .members-img {
                    margin-right: 1rem;
                    display: flex;
                    flex-direction: row-reverse;
                    z-index: 3;
                    @media screen and (max-width: '600px') {
                      display: none;
                    }
                    .image-con {
                      width: 20.747px;
                      height: 20.747px;
                      border-radius: 50%;
                      overflow: hidden;
                      object-fit: cover;
                      margin-right: -1rem;
                      z-index: 3;
                      img {
                        width: 100%;
                        height: 100%;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                      }
                    }
                  }
                  .members-amount {
                    display: flex;
                    column-gap: 0.3rem;
                    align-items: center;
                    cursor: pointer;
                    @media screen and (max-width: '600px') {
                      display: none;
                    }
                    p {
                      font-size: 1.2833rem;
                      font-weight: 500;
                      line-height: normal;
                      margin: auto 0;
                    }
                  }
                  .icon-con {
                    width: 2.5726rem;
                    height: 2.5726rem;
                    position: relative;
                    .msg-circle {
                      position: absolute;
                      top: 0;
                      right: 0;
                      width: 9.647px;
                      height: 9.647px;
                      fill: #be2a29;
                      stroke-width: 0.83px;
                      stroke: #fff;
                      background-color: #be2a29;
                      border-radius: 50%;
                      border: 0.83px solid #fff;
                    }
                  }
                }
              }
              .more {
                position: relative;
                cursor: pointer;
                .icon {
                  display: block;
                  color: rgba(51, 36, 106, 1);
                  @media screen and (max-width: '600px') {
                    display: none;
                  }
                }
                .icon-mobile {
                  display: none;
                  @media screen and (max-width: '600px') {
                    display: block;
                    color: rgba(51, 36, 106, 1);
                    font-size: 3rem;
                  }
                }
                .leave-group {
                  width: 189.137px;
                  // height: 107.085px;
                  position: absolute;
                  top: -2;
                  left: 50%;
                  transform: translateX(-50%);
                  border-radius: 33.208px;
                  border: 1.66px solid #ef4444;
                  background: #fff;
                  box-shadow: 0px 8.301959037780762px 23.245485305786133px 0px
                    rgba(8, 15, 52, 0.04);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  z-index: 500;

                  color: #ef4444;
                  font-size: 19.925px;
                  font-weight: 400;
                  line-height: 215.023%;
                  cursor: pointer;
                }
              }
              .btn-con {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 2rem;
                button {
                  padding: 10px 0;
                  background-color: $pri-color1;
                  color: #fff;
                  font-size: 12.44px;
                  font-weight: 700;
                  font-family: $thic700;
                  border-radius: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  min-width: 18rem;
                  min-height: 3.8rem;
                  max-width: 18rem;
                  max-height: 3.8rem;
                  column-gap: 0.4rem;
                  &.loading {
                    cursor: default;
                  }
                  .pending-con {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5rem;
                  }
                  .cancel-con {
                    display: none;
                  }
                  &.pending {
                    &:hover {
                      .pending-con {
                        display: none;
                      }
                      .cancel-con {
                        display: flex;
                        align-items: center;
                        column-gap: 0.5rem;
                      }
                    }
                  }
                  .icon {
                    font-size: 1.6rem;
                  }
                  img {
                    animation-iteration-count: infinite;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    height: 2.2rem;
                    width: 2.2rem;
                    object-fit: contain;
                    animation-name: rotate-s-loader;
                  }
                  @keyframes rotate-s-loader {
                    from {
                      transform: rotate(0);
                    }
                    to {
                      transform: rotate(360deg);
                    }
                  }
                }
              }
            }
          }
        }
        .cards-wrapper {
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
        }
        .cards-wrapper::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
      }
    }
  }
  .suggested-forums-wrapper {
    padding: 50px 0;
    .content-wrapper {
      margin: 0 6rem;
      @media screen and (max-width: '800px') {
        margin: 0;
      }
      .section-title {
        margin-bottom: 40px;
        color: #000;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 117%;
      }
      .view-all {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2.4rem;
        button {
          color: #29335c;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          cursor: pointer;
        }
      }
      .forums-cards-wrapper {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // row-gap: 4rem;
        // justify-items: center;
        // @media screen and (max-width: '1100px') {
        //   grid-template-columns: repeat(3, 1fr);
        // }
        // @media screen and (max-width: '900px') {
        //   grid-template-columns: repeat(2, 1fr);
        // }
      }
    }
  }
}
