@import 'colors';
@import 'index';

.all-forums-wrapper {
  background-color: $body-bg;
  line-height: 100%;

  .all-forums-section {
    .page-title-wrapper {
      height: 23.8rem;
      padding: 12rem 0 7.1rem;
      @media screen and (max-width: '500px') {
        padding: 2.6rem 0 2.6rem;
        height: 18.3rem;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        @media screen and (max-width: '500px') {
          flex-direction: column;
          row-gap: 4.8rem;
          align-items: flex-start;
        }
        .icon {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h3 {
          color: #000;
          font-size: 4rem;
          line-height: 117%;
          margin: auto 0;

          @media screen and (max-width: '500px') {
            font-size: 2.4rem;
          }
        }
      }
    }
    .search-box {
      .search-box-wrapper {
        width: 30rem;
        @media screen and (max-width: '500px') {
          width: 100%;
        }
      }
    }
    .search-box-section {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 0 auto;
      display: flex;
      column-gap: 2rem;
      padding: 0 6.2rem;
      margin-bottom: 18.7rem;
      align-items: center;
      &.search {
        margin-bottom: 0;
      }
      @media screen and (max-width: '500px') {
        justify-content: center;
        margin-bottom: 5.1rem;
        padding: 0rem;
      }
      .search-box-component-wrapper {
        width: 30rem;
        @media screen and (max-width: '500px') {
          width: 100%;
        }
      }
      .btn {
        @media screen and (max-width: '500px') {
          display: none;
        }
      }
    }
    .filter {
      display: flex;
      padding: 0 6.2rem;
      justify-content: flex-end;
      margin-bottom: -3rem;
      .filter-btn {
        @media screen and (max-width: '500px') {
          display: none;
        }
      }
      .filter-btn-mobile {
        display: none;
        @media screen and (max-width: '500px') {
          display: block;
        }
      }
    }
    .filter2 {
      margin-bottom: 0;
    }
    .filter-box-wrapper {
      margin-bottom: 8.4rem;
      padding: 0 6.2rem;
      @media screen and (max-width: '800px') {
        padding: 0;
      }
      .filter-box {
        width: 100%;
        height: 48.9rem;
        flex-shrink: 0;
        border-radius: 30px;
        background: #fff;
        padding: 4rem;
        @media screen and (max-width: '900px') {
          padding: 4rem 1rem;
        }
        @media screen and (max-width: '500px') {
          border-radius: 0;
          height: auto;
          padding: 1rem;
        }
        .box-content {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-bottom: 7rem;
          @media screen and (max-width: '500px') {
            grid-template-columns: repeat(1, 1fr);
          }
          input {
            width: 2rem;
            height: 2rem;
            flex-shrink: 0;
          }
          input[type='checkbox'],
          input[type='radio'] {
            accent-color: #6f6c90;
          }
          .group {
            h5 {
              color: #6f6c90;
              font-size: 2rem;
              font-weight: 700;
              line-height: 215.023%;
              margin-bottom: 2.4rem;
            }
            .input-wrapper {
              display: flex;
              column-gap: 1.4rem;
              align-items: center;
              margin-bottom: 2.4rem;
              p {
                color: #6f6c90;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 21.894px;
                margin: auto 0;
              }
            }
          }
          .group-1 {
            border-right: 3px solid #d8d1ef;
            padding: 0 7rem 0 0;
            @media screen and (max-width: '1100px') {
              padding: 0 2rem 0 0;
            }
            @media screen and (max-width: '500px') {
              padding: 3rem 0;
              border-right: 0;
              border-bottom: 3px solid #d8d1ef;
            }
          }
          .group-2 {
            border-right: 3px solid #d8d1ef;
            padding: 0 7rem;
            @media screen and (max-width: '1100px') {
              padding: 0 2rem;
            }
            @media screen and (max-width: '500px') {
              padding: 3rem 0;
              border-right: 0;
              border-bottom: 3px solid #d8d1ef;
            }
          }
          .group-3 {
            padding: 0 0 0 7rem;
            @media screen and (max-width: '1100px') {
              padding: 0 0 0 2rem;
            }
            @media screen and (max-width: '500px') {
              padding: 3rem 0;
            }
          }
        }
        .btn-wrapper {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 4rem;
        }
      }
    }
    .forums-cards-wrapper {
      margin: 4rem 0;
      .empty-state-con {
        display: flex;
        justify-content: center;
        background-color: green;
        width: 100%;
        // align-items: center;
      }
    }
  }
  .recommended-section {
    .recommended-section-content {
      padding: 0 6.2rem 6.6rem;
      @media screen and (max-width: '800px') {
        padding: 0 0 6.6rem;
      }
      .section-title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        margin-bottom: 6.5rem;
        @media screen and (max-width: '500px') {
          margin-bottom: 4rem;
        }
        h5 {
          color: #000;
          font-size: 2rem;
          line-height: 117%;
          width: 60%;
          @media screen and (max-width: '800px') {
            font-size: 1.8rem;
          }
        }
      }
      .forums-cards-wrapper {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // row-gap: 4rem;
        // justify-items: center;
        // @media screen and (max-width: '1100px') {
        //   grid-template-columns: repeat(3, 1fr);
        // }
        // @media screen and (max-width: '900px') {
        //   grid-template-columns: repeat(2, 1fr);
        // }
      }
    }
  }
}
