@import 'colors';
@import 'index';

.connection-page {
  padding: 5rem 0;
  background-color: $body-bg;

  .connections-wrapper {
    width: 70%;
    margin: auto;
    @media screen and (max-width: '1100px') {
      width: 100%;
    }

    .connection-head {
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      position: relative;
      @media screen and (max-width: '1000px') {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: '800px') {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: flex-start;
      }
      .search-box-wrapper {
        position: relative;
        width: 100%;
        .search-modal-con {
          position: absolute;
          top: 6rem;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          flex-shrink: 0;
          border-radius: 30px;
          background: #fff;
          padding: 2rem;
          box-shadow: 0px 3.90958px 10.94683px 0px rgba(8, 15, 52, 0.04);
          z-index: 1;
          .people {
            color: #000;
            font-size: 17.672px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 1rem;
          }
          
          p {
            color: #000;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Open Sans;
            font-size: 14.863px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .connections-body {
      .connection-card {
        position: relative;
        width: 100%;
        background-color: #fff;
        border-radius: 23px;
        padding: 21px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .connection-details {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          .connection-img {
            width: 86px;
            height: 86px;
            border-radius: 50%;
            // background-color: Green;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              max-width: 100%;
              max-height: 100%;
              object-fit: cover;
            }
          }

          .nameRole-wrapper {
            .name {
              color: #000;
              cursor: pointer;
            }

            .role {
              font-weight: 400;
              color: $sub-text-color;
              font-size: 18px;
            }
          }
        }

        .connection-action {
          display: flex;
          align-items: center;
          gap: 20px;
          .msg-btn {
            width: 144px;
            height: 65px;
            background-color: $pri-color1;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: '800px') {
              height: 50px;
              font-size: 14px;
            }
          }

          .delete-connection-wrapper {
            position: absolute;
            right: -27%;
            display: flex;
            align-items: center;
            font-size: 16px;
            color: $sub-text-color;
            column-gap: 15px;
            background-color: #fff;
            border-radius: 30px;
            padding: 10px 20px;
            box-shadow: 0px 3.9095799922943115px 10.94682502746582px 0px
              #080f340a;

            @media screen and (max-width: '1200px') {
              right: 0;
              bottom: -5%;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}
