@import "colors";
@import "index";

.event-wrapper {
  background-color: $body-bg;
  line-height: 100%;
  background: #fbfbfc;
  .banner-wrapper {
    position: relative;
    width: 100%;
    height: 42.5rem;
    margin-bottom: 5rem;

    @media screen and (max-width: "1280px") {
      height: 37.777rem;
    }
    @media screen and (max-width: "1024px") {
      height: 30.22rem;
    }
    @media screen and (max-width: "800px") {
      height: 24.2rem;
    }
    @media screen and (max-width: "600px") {
      height: 24.2rem;
    }

    .banner-content {
      width: 86.1111%;
      margin: 0 auto;
      color: #fff;
      padding: 3.2rem 0;
      @media screen and (max-width: "1100px") {
        padding: 2.7rem 0 0;
      }

      .arrow {
        width: 7.8rem;
        height: 7.8rem;
        font-size: 6rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        @media screen and (max-width: "1100px") {
          margin-top: 1.7rem;
          width: 3.9rem;
          height: 3.9rem;
        }
        @media screen and (max-width: "600px") {
          margin-top: 1.7rem;
          width: 3.9rem;
          height: 3.9rem;
        }
      }
      h2 {
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 100%;
        margin-top: 23.2rem;
        margin-bottom: 1rem;
        @media screen and (max-width: "1280px") {
          margin-top: 16.6rem;
        }
        @media screen and (max-width: "1024px") {
          margin-top: 10.4977rem;
        }
        @media screen and (max-width: "800px") {
          margin-top: 6.7rem;
          font-size: 4rem;
        }
        @media screen and (max-width: "600px") {
          margin-top: 5.7rem;
        }
      }
      h5 {
        font-size: 1.8rem;
        letter-spacing: 0.36px;
        width: 64.274%;
        @media screen and (max-width: "800px") {
          font-size: 1.4rem;
        }
        @media screen and (max-width: "600px") {
          font-size: 1.2rem;
          width: 100%;
        }
      }
    }
  }
  .bookmark-share-wrapper-loader {
    min-height: 12.5rem;
  }
  .bookmark-share-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 86.11111%;
    margin: 0 auto;
    column-gap: 4rem;
    padding: 3.4rem 0;
    @media screen and (max-width: "600px") {
      width: 91.7333%;
    }
    .bookmark,
    .share {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      cursor: pointer;
      text-transform: capitalize;
      p {
        color: #170f49;
        font-size: 1.769rem;
        font-style: normal;
        font-weight: 400;
        line-height: 19.351px;
        @media screen and (max-width: "600px") {
          display: none;
        }
      }
    }
  }
  .about-wrapper {
    width: 100%;
    .about-content-wrapper {
      width: 86.11111%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (max-width: "600px") {
        width: 91.7333%;
      }
      @media screen and (max-width: "600px") {
        flex-direction: column;
      }
      .details {
        width: 75.48387%;
        @media screen and (max-width: "1440px") {
          width: 73.48387%;
        }
        @media screen and (max-width: "600px") {
          width: 100%;
        }
        .event-details-card {
          min-height: 20rem;
          width: 100%;
          padding: 4rem 3rem;
          border-radius: 3rem;
          border: 0.78px solid #9d8dd8;
          margin-bottom: 9.9rem;
          @media screen and (max-width: "800px") {
            padding: 3rem 2rem;
          }
          @media screen and (max-width: "600px") {
            height: 28.3rem;
            padding: 4rem 2rem;
            margin-bottom: 4rem;
          }
          h3 {
            color: #170f49;
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 3rem;
            @media screen and (max-width: "1100px") {
              font-size: 3rem;
            }
            @media screen and (max-width: "800px") {
              font-size: 2.2rem;
            }
            @media screen and (max-width: "600px") {
              font-size: 2.8rem;
            }
          }
          .info {
            display: flex;
            @media screen and (max-width: "600px") {
              flex-direction: column;
            }
            .date-wrapper,
            .location-wrapper {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              column-gap: 2.2rem;
              @media screen and (max-width: "1100px") {
                justify-content: flex-start;
                width: 50%;
              }
              @media screen and (max-width: "600px") {
                justify-content: flex-start;
                width: 100%;
              }

              .icon {
                font-size: 3rem;
                font-weight: 900;
              }
              div {
                h5 {
                  color: #170f49;
                  font-size: 1.769rem;
                  font-weight: 700;
                }
                p {
                  color: #6f6c90;
                  font-size: 1.325rem;
                  font-style: normal;
                  font-weight: 400;
                  @media screen and (max-width: "800px") {
                    font-size: 1rem;
                  }
                  @media screen and (max-width: "600px") {
                    font-size: 1.325rem;
                  }
                  @media screen and (max-width: "390px") {
                    font-size: 1.2rem;
                  }
                }
              }
            }
            .date-wrapper {
              padding-right: 3rem;
              border-right: 1px solid #6f6c90;
              @media screen and (max-width: "600px") {
                padding: 0;
                justify-content: flex-start;
                border-bottom: 1px solid #6f6c90;
                border-right: none;
                margin-bottom: 2rem;
              }
            }
            .location-wrapper {
              padding-left: 3rem;
              @media screen and (max-width: "600px") {
                padding: 0;
                justify-content: flex-start;
              }
            }
            .date-wrapper-2 {
              border-right: none;
              @media screen and (max-width: "600px") {
                padding: 0;
                justify-content: flex-start;
                border-bottom: none;
                border-right: none;
              }
            }
          }
        }
        .about {
          margin-bottom: 7.1rem;
          .title {
            color: #170f49;
            font-size: 2.4rem;
            margin-bottom: 3rem;
          }
          .info {
            width: 97.096%;
            @media screen and (max-width: "600px") {
              width: 100%;
            }
            p {
              color: #6f6c90;
              font-size: 1.407rem;
              font-weight: 400;
              line-height: 21.894px;
            }
          }
        }
        .tags {
          margin-bottom: 9.4rem;
          .title {
            color: #170f49;
            font-size: 2.4rem;
            margin-bottom: 3rem;
          }
          .tags-wrapper {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
          }
        }
        .event-creator {
          width: 91.82%;
          height: 160px;
          flex-shrink: 0;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0px 4px 10.760000228881836px 0px rgba(8, 15, 52, 0.04);
          margin-bottom: 3rem;
          padding: 2.5rem 2.8rem;
          @media screen and (max-width: "600px") {
            width: 100%;
            padding: 2.5rem 2rem;
          }
          h3 {
            color: #170f49;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 117%;
            margin-bottom: 1.9rem;
          }
          .info {
            display: flex;
            column-gap: 2rem;
            align-items: center;
            @media screen and (max-width: "600px") {
              column-gap: 1rem;
            }
            .img-con {
              min-width: 5.5rem;
              min-height: 5.5rem;
              width: 5.5rem;
              height: 5.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              object-fit: cover;
              img {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                overflow: hidden;
              }
            }
            h5 {
              color: #170f49;
              font-size: 17.67px;
              font-weight: 600;
              line-height: normal;
            }
          }
          .loading-state {
            width: 30%;
            height: 2rem;
            @media screen and (max-width: "600px") {
              width: 100%;
            }
          }
        }
      }
      .price {
        width: 24.19%;
        justify-content: flex-end;
        display: flex;
        @media screen and (max-width: "600px") {
          display: none;
        }
        .price-card {
          width: 30rem;
          height: 20rem;
          border-radius: 3rem;
          border: 0.78px solid rgba(157, 141, 216, 1);
          background-color: #fff;
          padding: 2rem;
          justify-content: center;
          display: flex;
          flex-direction: column;
          row-gap: 2rem;
          align-items: center;
          @media screen and (max-width: "1100px") {
            row-gap: 1rem;
            padding: 3rem;
          }
          @media screen and (max-width: "800px") {
            padding: 3rem 2rem;
          }
          @media screen and (max-width: "600px") {
            width: 100%;
            margin-bottom: 3rem;
          }
          h5 {
            color: #6f6c90;
            @media screen and (max-width: "800px") {
              font-size: 1.5rem;
            }
          }

          button {
            padding: 1.3rem;
            border-radius: 3rem;
            background-color: #fb65c8;
            color: #fff;
            font-weight: 700;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 20px;
            @media screen and (max-width: "700px") {
              font-size: 1.1rem;
              padding: 1rem;
            }
            &.loading {
              cursor: default;
            }
          }
        }
      }
      .price-mobile {
        display: none;
        @media screen and (max-width: "600px") {
          width: 100%;
          justify-content: center;
          display: flex;
          margin-bottom: 4rem;
          button {
            border-radius: 3rem;
            background-color: #fb65c8;
            color: #fff;
            font-weight: 700;
            font-weight: 500;
            line-height: 20px;
            font-size: 1.1rem;
            padding: 1rem;
            padding: 15px 30px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
          }
        }
      }
    }
  }
  .booking-wrapper {
    width: 100%;
    .booking-content-wrapper {
      width: 59.513%;
      margin: 0 auto;
      // display: flex;
      // justify-content: center;
      @media screen and (max-width: "500px") {
        width: 91.7333%;
      }
      .title {
        width: 100%;
        color: #170f49;
        display: block;
        display: flex;
        justify-content: center;
        margin: 8rem 0 6.9rem;
        @media screen and (max-width: "500px") {
          margin: 3.6rem 0 4.9rem;
        }
        h3 {
          line-height: 19.351px;
          @media screen and (max-width: "500px") {
            font-size: 2.4rem;
          }
        }
      }
      .main-content-wrapper {
        .event-info {
          padding: 0 0 4rem;
          border-bottom: 0.78px solid #9d8dd8;
          margin-bottom: 4.3rem;
          @media screen and (max-width: "500px") {
            padding: 0 0 0rem;
            margin-bottom: 2rem;
          }
          h3 {
            color: #170f49;
            line-height: 19.351px;
            margin-bottom: 1rem;
            @media screen and (max-width: "500px") {
              font-size: 2.4rem;
              line-height: 39.351px;
              line-height: 150%;
              font-weight: 600 !important;
            }
          }
          p {
            color: #6f6c90;
            font-size: 1.325rem;
            line-height: 19.351px;
          }
        }
        .promo-code {
          margin-bottom: 3.9rem;
          @media screen and (max-width: "500px") {
            margin-bottom: 4.5rem;
          }
          h5 {
            margin-bottom: 1rem;
            line-height: 100%;
          }
        }
        .booking-box {
          margin-bottom: 3.9rem;
          @media screen and (max-width: "500px") {
            margin-bottom: 4.1rem;
          }
          .top-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5.6rem;
            padding: 0 1.2rem;
            border-radius: 15px 15px 0px 0px;
            border: 0.78px solid #9d8dd8;
            p {
              color: #170f49;
              font-size: 1.8rem;
              font-weight: 400;
              margin: auto 0;
              @media screen and (max-width: "500px") {
                line-height: 150%;
              }
            }
            .btns {
              display: flex;
              align-items: center;
              column-gap: 2rem;

              p {
                color: #000;
                font-size: 1.6rem;
                font-weight: 400;
                margin: auto;
                width: 2.3rem;
                text-align: center;
              }
            }
          }
          .bottom-box {
            width: 100%;
            height: 9.4rem;
            padding: 2rem 1.2rem;
            border-radius: 0px 0px 1.5rem 1.5rem;
            border: 0.78px solid #9d8dd8;
            border-top: 0;
            @media screen and (max-width: "500px") {
              height: 12.4rem;
            }
            .val {
              color: #170f49;
              font-size: 1.6rem;
              margin-bottom: 2rem;
            }
            .info {
              color: #6f6c90;
              @media screen and (max-width: "500px") {
                width: 80%;
                line-height: 150%;
              }
            }
          }
        }
        .last-child {
          margin-bottom: 8.1rem;
          @media screen and (max-width: "500px") {
            margin-bottom: 4.1rem;
          }
        }
        .checkout-btn {
          display: flex;
          justify-content: center;
          margin-bottom: 15.3rem;
          @media screen and (max-width: "500px") {
            margin-bottom: 6.1rem;
          }
        }
      }
    }
  }
  .checkout-wrapper {
    width: 100%;
    .checkout-content-wrapper {
      width: 59.513%;
      margin: 0 auto;
      @media screen and (max-width: "500px") {
        width: 91.7333%;
      }
      .title {
        width: 100%;
        color: #170f49;
        display: block;
        display: flex;
        justify-content: center;
        margin: 8rem 0 6.9rem;
        @media screen and (max-width: "500px") {
          margin: 3.6rem 0 4.9rem;
        }
        h3 {
          line-height: 19.351px;
          @media screen and (max-width: "500px") {
            font-size: 2.4rem;
          }
        }
      }
      .main-content-wrapper {
        .event-info {
          padding: 0 0 4rem;
          border-bottom: 0.78px solid #9d8dd8;
          margin-bottom: 4.3rem;
          @media screen and (max-width: "500px") {
            padding: 0 0 0rem;
            margin-bottom: 7.2rem;
          }
          h3 {
            color: #170f49;
            line-height: 19.351px;
            margin-bottom: 1rem;
            @media screen and (max-width: "500px") {
              font-size: 2.4rem;
              line-height: 39.351px;
              line-height: 150%;
              font-weight: 600 !important;
            }
          }
          p {
            color: #6f6c90;
            font-size: 1.325rem;
            line-height: 19.351px;
          }
        }
        .order-summary {
          margin-bottom: 7.2rem;

          .con {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            border-bottom: 0.78px solid #9d8dd8;
            margin-bottom: 2.1rem;
            padding: 2.4rem;
            @media screen and (max-width: "500px") {
              padding: 0 0 2.4rem;
            }
            h3 {
              color: #170f49;
              line-height: 19.351px;
              margin-bottom: 0;
              @media screen and (max-width: "500px") {
                font-size: 2.4rem;
                line-height: 39.351px;
                line-height: 150%;
                font-weight: 600 !important;
              }
            }
            .detail {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              padding: 0;
              border-bottom: 0;
              p {
                color: #170f49;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: normal;
                line-height: 100%;
                margin: auto 0;
              }
            }
          }
          .total {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 0 2.4rem;
            p {
              color: #170f49;
              font-size: 1.8rem;
              font-weight: 600;
              margin: auto 0;
            }
          }
        }
        .billing-info {
          margin-bottom: 4.3rem;
          padding: 2.4rem;
          @media screen and (max-width: "500px") {
            padding: 0 0 0rem;
            margin-bottom: 8.3rem;
          }
          h3 {
            color: #170f49;
            line-height: 19.351px;
            margin-bottom: 2rem;
            @media screen and (max-width: "500px") {
              font-size: 2.4rem;
              line-height: 39.351px;
              line-height: 150%;
              font-weight: 600 !important;
            }
          }
          .section-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 28.1553%;
            row-gap: 2.2rem;
            @media screen and (max-width: "500px") {
              grid-template-columns: repeat(1, 1fr);
            }
            .con {
              p {
                color: #170f49;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 20px;
              }
            }
          }
        }
        .payment-method {
          margin-bottom: 4.3rem;
          @media screen and (max-width: "500px") {
            padding: 0 0 0rem;
            margin-bottom: 2rem;
          }
          h3 {
            color: #170f49;
            line-height: 19.351px;
            margin-bottom: 2rem;
            padding: 2.4rem;
            @media screen and (max-width: "500px") {
              font-size: 2.4rem;
              line-height: 39.351px;
              line-height: 150%;
              font-weight: 600 !important;
              padding: 0;
            }
          }
          .section-wrapper {
            width: 100%;
            // height: 26.5rem;
            flex-shrink: 0;
            border-radius: 0.4rem;
            border: 0.78px solid #9d8dd8;
            .section-box {
              transition: all linear 3s;
              .top-box {
                height: 4.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                p {
                  color: #170f49;
                  font-size: 1.8rem;
                  font-weight: 400;
                  margin: auto 0;
                }
              }
              .inside-box-wrapper {
                height: 0;
                overflow: hidden;
                transition: all linear 0.3s;
                .inside-box-content {
                  // padding: 0 2rem 2rem 2rem ;
                  width: 65.80796%;
                  display: flex;
                  flex-direction: column;
                  row-gap: 3.4rem;
                  overflow: hidden;
                  padding: 2rem;
                  @media screen and (max-width: "500px") {
                    row-gap: 2.1rem;
                  }
                  .top {
                  }
                  .bottom {
                    display: flex;
                    column-gap: 10.498%;
                    @media screen and (max-width: "500px") {
                      flex-direction: column;
                      row-gap: 2.1rem;
                    }
                  }
                }
              }
              .show {
                height: auto;
                transition: all linear 0.3s;
              }
            }
            .last-child {
              border-top: 0.78px solid #9d8dd8;
            }
          }
          .input-radio {
            width: 2rem;
            height: 2rem;
            flex-shrink: 0;
          }
          input[type="radio"] {
            accent-color: #6f6c90;
          }
        }

        .checkout-btn {
          display: flex;
          justify-content: center;
          margin-bottom: 15.3rem;
          @media screen and (max-width: "500px") {
            margin-bottom: 6.1rem;
          }
        }
      }
    }
  }
  .order-success-wrapper {
    width: 100%;
    height: 70rem;
    .order-success-content-wrapper {
      width: 74.444%;
      margin: 0 auto;
      @media screen and (max-width: "500px") {
        width: 91.7333%;
      }
      .back {
        margin-top: 10rem;
        display: flex;
        align-items: center;
        margin-bottom: 2.3rem;
        cursor: pointer;
        column-gap: 2rem;
        color: #170f49;
        font-size: 14.07px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.9px;
        @media screen and (max-width: "500px") {
          margin-top: 6.2rem;
        }
        p {
          margin: auto 0;
        }
        .icon {
          font-size: 2rem;
        }
      }
      .main-content-wrapper {
        width: 100%;
        height: 22.4rem;
        border-radius: 3rem;
        background: #fff;
        padding: 4rem 2.5rem;
        box-shadow: 0px 4px 10.760000228881836px 0px rgba(8, 15, 52, 0.04);
        @media screen and (max-width: "800px") {
          height: 38.4rem;
        }
        h3 {
          color: #170f49;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 19.4px;
          margin-bottom: 4.2rem;

          @media screen and (max-width: "800px") {
            line-height: 150%;
          }
        }
        .info-wrapper {
          display: flex;
          align-items: center;
          width: 72.3888%;
          // background-color: blue;
          @media screen and (max-width: "1100px") {
            width: 80%;
          }
          @media screen and (max-width: "800px") {
            width: 100%;
          }
        }
        .info {
          width: 84.84848%;
          // background-color: green;
          display: flex;
          flex-direction: column;
          .first-child {
            margin-bottom: 3rem;
          }
          p {
            color: #6f6c90;
            font-size: 2rem;
            font-weight: 400;
            line-height: 21.9px;
          }
        }
        .checkbox {
          font-size: 5rem;
        }
      }
    }
  }
}

.event-ticket-page {
  padding: 5rem 0;
  background-color: $body-bg;

  .profile-wrapper {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    .profile-pic {
      width: 147px;
      height: 147px;
      border-radius: 50%;
      background-color: #fb65c8;
      background-position: center;
      background-size: cover;
    }

    .no-of-orders {
      font-weight: 400;
      font-size: 14px;
    }
  }

  a {
    color: inherit !important;
  }

  .order-detail-wrapper {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 20px;
    .order-date {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      .month {
        color: $pri-color2;
      }
    }

    .order-img {
      width: 222px;
      height: 170px;
      border-radius: 5px;
      background-color: red;
      background-position: center;
      background-size: cover;
    }

    .order-info {
      .other-info {
        font-size: 14px;
      }
    }
  }

  .ticket-details-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    .serial-details {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .general-admission-wrapper {
      .general-admission-info {
        margin-bottom: 10px;

        .title {
          font-size: 14px;
          font-weight: 700;
          line-height: 19.35px;
        }

        .info {
          font-size: 14px;
          font-weight: 400;
          line-height: 19.35px;
        }
      }
    }
  }
}
