@import "colors";
@import "index";

.events-wrapper {
  background-color: $body-bg;
  line-height: 100%;
  background: #fbfbfc;
  .banner-wrapper {
    position: relative;
    width: 100%;
    height: 42.5rem;
    @media screen and (max-width: "1280px") {
      height: 37.777rem;
    }
    @media screen and (max-width: "1024px") {
      height: 30.22rem;
    }
    @media screen and (max-width: "800px") {
      height: 23.6111rem;
    }
    @media screen and (max-width: "600px") {
      height: 17.6rem;
    }
    .banner-gradient {
      background: linear-gradient(180deg, rgba(51, 36, 106, 0) 0%, #33246a 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      .banner-content {
        width: 86.1111%;
        margin: 0 auto;
        // padding: 5.7rem 0 0;
        z-index: 2;
        color: #fff;
        @media screen and (max-width: "1100px") {
          padding: 2.7rem 0 0;
        }
        @media screen and (max-width: "600px") {
          width: 90.93333%;
        }
        .arrow {
          font-size: 4rem;
          margin-bottom: 14rem;
          cursor: pointer;
          display: inline-block;
          @media screen and (max-width: "1100px") {
            margin-bottom: 7rem;
          }
          @media screen and (max-width: "600px") {
            display: none;
          }
        }
        h2 {
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 100%;
          margin-top: 23.2rem;
          margin-bottom: 1rem;
          @media screen and (max-width: "1280px") {
            margin-top: 16.6rem;
          }
          @media screen and (max-width: "1024px") {
            margin-top: 10.4977rem;
          }
          @media screen and (max-width: "800px") {
            margin-top: 6.7rem;
            font-size: 4rem;
          }
          @media screen and (max-width: "600px") {
            margin-top: 5.7rem;
          }
        }
        h5 {
          font-size: 1.8rem;
          letter-spacing: 0.36px;
          width: 64.274%;
          @media screen and (max-width: "800px") {
            font-size: 1.4rem;
          }
          @media screen and (max-width: "600px") {
            font-size: 1.2rem;
            width: 100%;
          }
        }
      }
    }
  }
  .latest-news-wrapper,
  .upcoming-events-wrapper {
    .latest-news-content,
    .upcoming-events-content {
      padding: 100px 0 50px;
      @media screen and (max-width: "800px") {
        padding: 50px 0;
      }
      .section-header {
        @media screen and (max-width: "600px") {
          // grid-template-columns: repeat(1, 1fr);
          // row-gap: 4.7rem;
        }
        h2 {
          color: #170f49;
        }

        .search-wrapper {
          max-width: 562px;
          .search-box-wrapper {
            display: flex;
            justify-content: flex-end;
            .search-box-con {
              width: 90%;
              @media screen and (max-width: "600px") {
                width: 100%;
              }
            }
          }

          .filter-wrapper {
            margin-top: 30px;
            border-radius: 3.4rem;
            background: #fff;
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 0 4.7rem;
            justify-content: space-between;
            @media screen and (max-width: "800px") {
              height: 7.8rem;
              padding: 0 2.7rem;
            }
            @media screen and (max-width: "600px") {
              height: 7.8rem;
              padding: 0 1.7rem;
            }
            .filter,
            .sort {
              display: flex !important;
              column-gap: 2.5rem;
              align-items: center !important;
              @media screen and (max-width: "800px") {
                column-gap: 1rem;
              }
              @media screen and (max-width: "600px") {
                column-gap: 1rem;
              }
              p {
                margin: auto 0;
                line-height: 100% !important;
                font-size: 1.8rem;
                color: #6f6c90;
                font-weight: 600;
                text-transform: uppercase;
                @media screen and (max-width: "800px") {
                  font-size: 1.4rem;
                }
                @media screen and (max-width: "600px") {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }

      .section-content {
        .cards-wrapper {
          margin-top: 50px;
          .event-card {
            max-height: 867px;
            max-width: 583px;
            padding: 40px 20px;
            border-radius: 20px;
            background-color: #fff;
            margin-bottom: 20px;
            cursor: pointer;
            @media screen and (max-width: "800px") {
              margin: auto;
            }
            .card-main {
              display: flex;
              flex-direction: column;
              @media screen and (max-width: "800px") {
                flex-direction: column-reverse;
                // height: 53rem;
              }
              .card-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                  color: #170f49;
                  font-size: 32px;
                  margin-bottom: 15px;
                }
                .date,
                .location {
                  color: #29335c;
                  font-size: 2.2rem;
                  font-weight: 600;
                  line-height: 100%;
                  margin-bottom: 15px;
                }
                .info {
                  color: #29335c;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 100%;

                  @media screen and (max-width: "800px") {
                    font-size: 1.8rem;
                    line-height: 31.12px;
                  }
                }
              }
              .card-img {
                width: 100%;
                height: 42.3rem;
                border-radius: 33.136px;
                overflow: hidden !important;
                object-fit: cover;
                box-sizing: border-box;
                @media screen and (max-width: "800px") {
                  height: 21.7rem;
                }
                .img-card {
                  height: 100%;
                  width: 100%;
                  max-width: 100%;
                  max-height: 100%;
                  box-sizing: border-box;
                  object-fit: cover;
                }
              }
            }
            .card-footer {
              display: flex;
              column-gap: 50px;
              padding-top: 20px;
              align-items: center;

              // .icon-wrapper {
              //   display: flex;
              //   align-items: center;
              //   column-gap: 2rem;
              //   color: #807c8b;
              //   font-weight: 400;
              //   .icon {
              //     font-size: 4rem;
              //     @media screen and (max-width: "1024px") {
              //       font-size: 3rem;
              //     }
              //   }
              //   p {
              //     font-size: 2rem;
              //     line-height: 100%;
              //     margin: auto;
              //   }
              // }
            }
          }
        }
        .cards-wrapper {
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
        }
        .cards-wrapper::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
      }

      .section-bottom {
        width: 100%;

        .scroll-bar-wrapper {
          width: 81.29%;
          height: 1.2rem;
          margin: 0 auto;
          border-radius: 6.1rem;
          background: #f5f5f5;
          @media screen and (max-width: "600px") {
            display: none;
          }
          .scroll-bar {
            border-radius: 61px;
            background: #cfd0d5;
            height: 100%;
            width: 41.2698%;
          }
        }
      }
      .see-all {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        h5 {
          color: #6f6c90;
          text-align: center;
          font-size: 1.8rem;
          line-height: 215.023%;
          cursor: pointer;
        }
      }
    }
    .upcoming-events-content {
      padding: 0rem 0 2rem;
      @media screen and (max-width: "600px") {
        padding: 5rem 0 2rem;
      }
    }
  }
}
