@font-face {
  font-family: "THICCCBOI-Black";
  src: url("../fonts/Thicccboi/THICCCBOI-Black.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-ExtraBold"; // font weight 800
  src: url("../fonts/Thicccboi/THICCCBOI-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-Bold"; // font weight 700
  src: url("../fonts/Thicccboi/THICCCBOI-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-SemiBold"; // font weight 600
  src: url("../fonts/Thicccboi/THICCCBOI-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-Medium";
  src: url("../fonts/Thicccboi/THICCCBOI-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-Regular";
  src: url("../fonts/Thicccboi/THICCCBOI-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-Light";
  src: url("../fonts/Thicccboi/THICCCBOI-Light.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-ThicccAF";
  src: url("../fonts/Thicccboi/THICCCBOI-ThicccAF.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI-Thin";
  src: url("../fonts/Thicccboi/THICCCBOI-Thin.ttf") format("truetype");
}
