@import "colors";
@import "index";

.home-wrapper {
  background-color: $body-bg;
  padding: 50px 0;

  .search-box-wrapper {
    position: relative;
    max-width: 317px;
    input {
      width: 100%;
      height: 42px;
      border-radius: 8px;
      background-color: #fff;
      border: 1px solid #807c8b40;
      padding: 0 10px 0 30px;
      display: flex;
      align-items: center;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #b3b0b9;
      }
    }

    svg {
      position: absolute;
      left: 3%;
      top: 25%;
    }
  }

  .post-wrapper {
    .create-post-card {
      max-width: 634px;
      background: #fff;
      border-radius: 30px;
      padding: 30px;
      box-sizing: border-box;

      h2 {
        font-weight: 700;
        font-family: $thic700;
        color: #000;
        font-size: 18px;
      }

      form {
        textarea {
          width: 100%;
          height: 50px;
          background: #fff;
          border: 1px solid #807c8b40;
          padding: 10px 20px;
          box-sizing: border-box;
          margin: 15px 0;
          color: #000;
          font-size: 14px;
          border-radius: 4px;
        }
      }
    }

    .post-card-wrapper {
      .post-card {
        max-width: 634px;
        background-color: #fff;
        border-radius: 30px;
        padding: 25px 30px;
        margin-top: 25px;

        .post-card-header {
          display: flex;
          justify-content: space-between;

          .post-owner-details {
            display: flex;
            column-gap: 15px;
            .img-circle {
              width: 55px;
              height: 55px;
              border-radius: 50%;
              background-position: center;
              background-size: cover;
              background-color: red;
            }

            .name {
              font-weight: 600;
              font-family: $thic600;
              color: #000;
              font-size: 17px;
              line-height: 20px;
            }

            .small-circle {
              width: 5px;
              height: 5px;
              background-color: $pri-color2;
              border-radius: 50%;
              margin: 0 5px;
              display: inline-block;
            }

            .follow-btn,
            .job-role {
              font-size: 17px;
              color: #807c8b;
              font-family: $thic500;
              font-weight: 500;
              line-height: 17px;
            }

            .post-time {
              font-size: 13px;
              color: #807c8b;
              font-family: $thic500;
              font-weight: 500;
              line-height: 15px;
            }
          }

          .rsvp-btn {
            padding: 12px 25px;
            border: 0.83px solid #7a6d9f;
            box-shadow: 0.8257163166999817px 0.8257163166999817px 9.90859603881836px 0px #33246a1f;
            background-color: #fff;
            color: #33246a;
            font-weight: 700;
            font-family: $thic700;
            font-size: 14px;
            border-radius: 84px;
          }
        }

        .post-content-wrapper {
          margin: 20px 0;
          .post-content {
            font-size: 14px;
            color: #000;
          }

          .post-image {
            width: 100%;
            height: 458px;
            border-radius: 33px;
            background-size: cover;
            background-position: center;
            background-color: red;
            margin-top: 20px;
          }
        }

        .post-card-footer {
          border-top: 0.98px solid #9e9e9e40;
          padding-top: 20px;
          .post-card-footer-content {
            max-width: 331px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .heart-icon {
              &.active {
                svg {
                  path {
                    fill: $pri-color2;
                    stroke: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .community-forum-wrapper {
    .community-forum-card-wrapper {
      padding: 20px 15px;
      background-color: #fff;
      //   margin-top: 30px;
      border-radius: 30px;

      .community-forum-card {
        max-width: 285px;
        padding: 20px 30px;
        border: 0.78px solid #9d8dd8;
        border-radius: 30px;
        margin-top: 20px;
      }

      .community-forum-content {
        margin: 15px 0;
        color: #6f6c90;
        font-size: 14px;
        line-height: 23px;
      }

      .community-forum-btn {
        padding: 10px 21px;
        border: 0.69px solid #7a6d9f;
        background-color: #fff;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 700;
        font-family: $thic700;
      }
    }
  }

  .my-updates-wrapper {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;

    .section-header {
      color: #8f8f8f;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 0.98px solid #d8d1ef;
    }

    .section-list-wrapper {
      margin-top: 20px;
      .section-list {
        margin-bottom: 16px;
        .circle {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #ff7e2e;
        }

        .text {
          font-size: 15px;
          font-weight: 500;
          color: #000;
        }
      }

      .big-text {
        a {
          font-size: 20px;
          font-weight: 400;
          color: #b3b0b9;
          span {
            font-weight: 600;
            color: #000;
          }
        }
      }
    }
  }

  .resources-wrapper {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;

    .resources-content {
      border-bottom: 0.98px solid #d8d1ef;
      padding-bottom: 10px;
      margin-top: 30px;
      .resources-title {
        font-weight: 700;
        font-family: $thic700;
        color: $pri-color1;
      }

      .resources-text {
        font-size: 14px;
        color: $alt-text-color;
      }
    }
  }
}

@media screen and (max-width: "800px") {
  .home-wrapper {
    padding: 0 !important;
    .post-card-wrapper {
      padding: 10px 0 !important;
      .post-card {
        padding: 20px 10px !important ;
        margin-top: 0 !important;
        margin-bottom: 25px !important;

        .post-card-header {
          .post-owner-details {
            column-gap: 5px !important;
            .name,
            .follow-btn {
              font-size: 16px !important;
            }
            .job-role {
              font-size: 14px !important;
            }
          }
          .rsvp-btn {
            padding: 10px 20px !important;
          }
        }
      }
    }
  }
}
