@import 'colors';
@import 'index';

.home-wrapper {
  background-color: $body-bg;
  padding: 50px 0;
  .search-box-wrapper {
    position: relative;
    max-width: 317px;
    input {
      width: 100%;
      height: 42px;
      border-radius: 8px;
      background-color: #fff;
      border: 1px solid #807c8b40;
      padding: 0 10px 0 30px;
      display: flex;
      align-items: center;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #b3b0b9;
      }
    }

    svg {
      position: absolute;
      left: 3%;
      top: 25%;
    }
  }

  .post-wrapper {
    .create-post-card {
      max-width: 634px;
      background: #fff;
      border-radius: 30px;
      padding: 30px;
      box-sizing: border-box;
      margin-bottom: 2.8rem;

      h2 {
        font-weight: 700;
        font-family: $thic700;
        color: #000;
        font-size: 18px;
        margin: 0;
      }

      select {
        border: 1px solid #7a6d9f;
        padding: 0 5px;
        font-size: 12px;
        border-radius: 30px;
      }

      form {
        textarea {
          width: 100%;
          height: 50px;
          background: #fff;
          border: 1px solid #807c8b40;
          padding: 10px 20px;
          box-sizing: border-box;
          margin: 15px 0;
          color: #000;
          font-size: 14px;
          border-radius: 4px;
        }

        .image-video-wrapper {
          width: 100%;
          height: 500px;
          overflow-y: scroll;
          overflow-x: scroll;
          img,
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            source {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .post-card-wrapper {
      .internet-error-state,
      .server-error-state {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem;
      }
    }
  }

  .community-forum-wrapper {
    .community-forum-card-wrapper {
      padding: 20px 15px;
      background-color: #fff;
      //   margin-top: 30px;
      border-radius: 30px;
    }
  }

  .my-updates-wrapper {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;

    .section-header {
      color: #8f8f8f;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 0.98px solid #d8d1ef;
    }

    .section-list-wrapper {
      margin-top: 20px;
      .section-list {
        margin-bottom: 16px;
        .circle {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #ff7e2e;
        }

        .text {
          font-size: 15px;
          font-weight: 500;
          color: #000;
        }
      }

      .big-text {
        a {
          font-size: 20px;
          font-weight: 400;
          color: #b3b0b9;
          span {
            font-weight: 600;
            color: #000;
          }
        }
      }
    }
  }

  .resources-wrapper {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;

    .resources-content {
      border-bottom: 0.98px solid #d8d1ef;
      padding-bottom: 10px;
      margin-top: 30px;
      .resources-title {
        font-weight: 700;
        font-family: $thic700;
        color: $pri-color1;
      }

      .resources-text {
        font-size: 14px;
        color: $alt-text-color;
      }
    }
  }
}

@media screen and (max-width: '800px') {
  .home-wrapper {
    padding: 0 !important;
    .post-card-wrapper {
      padding: 10px 0 !important;
    }
  }
}
