@import 'colors';
@import 'index';

.job-board-wrapper {
  background-color: $body-bg;
  padding: 5rem 0;
  .search-box-section {
    display: flex;
    justify-content: center;
    width: 57.22222%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .search-box-component-wrapper {
      width: 76.3349514%;
    }
  }
  .tab-btns {
    display: none;
  }
  .main-section {
    width: 87.3611%;
    margin: 5rem auto 0;
    display: flex;
    align-items: flex-start;

    .recommended-filters-section {
      width: 42.63888%;
      //   background-color: rgba(0, 128, 0, 0.208);
      .recommended {
        .section-title h5 {
          color: #000;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 117%;
          margin-bottom: 2rem;
        }
        .show-mobile {
          display: none;
        }
        .cards {
        }
      }
      .filters {
        width: 100%;
        display: flex;
        column-gap: 3%;
        .arrow {
          .show-mobile {
            display: none;
          }
        }
        .main {
          width: 100%;
          .section-title {
            h5 {
              color: #000;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 117%;
              text-transform: capitalize;
              margin-bottom: 3.8rem;
            }
          }
          .sec {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 6rem;
            .group {
              h5 {
                color: #6f6c8f;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 23.457px;
                margin-bottom: 2.1rem;
              }
              .option {
                display: flex;
                column-gap: 3.4rem;
                margin-bottom: 2.5rem;
                align-items: center;
                input {
                  width: 2rem;
                  height: 2rem;
                  flex-shrink: 0;
                }
                input[type='checkbox'],
                input[type='radio'] {
                  accent-color: #6f6c90;
                }

                input[type='checkbox']:checked::before {
                  background-color: red;
                }
                // input:checked {
                //   outline: 2px solid yellow;
                // }
                label {
                  color: #6f6c90;
                  font-size: 2.4rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 2.1894rem;
                  text-transform: capitalize;
                }
              }
            }
            .filter-by-location {
              margin-top: 7.8rem;
              .range {
                display: flex;
                flex-direction: column;
                row-gap: 3.2rem;

                input[type='range'],
                input[type='range']:focus,
                input[type='range']:active,
                input[type='range']::-moz-focus-inner,
                input[type='range']:-moz-focusring {
                  border: 0;
                  outline: none;
                }
                p {
                  text-align: right;
                  color: #6f6c90;
                  font-size: 2.4rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 2.1894rem;
                }
              }
            }
          }
          .save {
            margin: 13.6rem auto 11.9rem !important;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .recommended-filters-section2 {
      width: 60%;
    }

    .saved-jobs-job-info-section {
      width: 57.3611%;
      margin-top: 5rem;
      // background-color: rgba(0, 0, 255, 0.054);
      display: flex;
      justify-content: flex-end;
      .saved-jobs-section {
        border-radius: 2.3878rem;
        border: 1.194px solid rgba(128, 124, 139, 0.25);
        background: #fff;
        box-shadow: 0px 5.969581604003906px 16.714828491210938px 0px
          rgba(8, 15, 52, 0.04);
        padding: 4.2rem 4.2rem 5.7rem 4.2rem;
        width: 64.13%;
        height: auto;
        .section-title h5 {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 117%;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 2.1rem;
        }
        .saved-job {
          display: flex;
          column-gap: 7.26%;
          border-bottom: 1px solid #d8d1ef;
          padding: 2.1rem 0;

          .img-con {
            width: 3.7rem;
            height: 3.7rem;
            flex-shrink: 0;
            margin-top: 1.4rem;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .info {
            display: flex;
            width: 100%;
            align-items: center;
            .details {
              display: flex;
              justify-content: space-between;
              width: 100%;
              padding: 0 1rem;
              div {
                h5 {
                  color: #000;
                  font-size: 1.4327rem;
                  font-style: normal;
                  font-weight: 700;
                  //   line-height: 215.023%;
                }
                .company {
                  color: #000;
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
                .location {
                  color: rgba(0, 0, 0, 0.81);
                  font-size: 1.5463rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }
              }
              .status {
                color: rgba(0, 0, 0, 0.81);
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                width: 20%;
              }
            }
            .btn-con {
              width: 1.6rem;
              height: 1.7rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .saved-jobs-section2 {
        width: 100%;
      }
      .job-info {
        border-radius: 23px;
        border: 1px solid rgba(128, 124, 139, 0.25);
        box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
        padding: 3.6rem 5.3rem;
        width: 93.407%;
        // min-height: 1500px;
        .back {
          display: none;
        }
        .role-hybrid-con {
          display: flex;
          justify-content: space-between;
          .role-con {
            .role {
              margin-bottom: 1.3rem;
              color: #000;
              font-size: 2.4rem;
              font-style: normal;
              font-weight: 700;
              line-height: 117%;
            }
            .company {
              color: #000;
              font-size: 2.4rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .location {
              color: rgba(0, 0, 0, 0.81);
              font-size: 1.8rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
          .hybrid {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 5.1rem;
            p {
              color: rgba(0, 0, 0, 0.81);
              font-size: 1.8rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
        .sec-2 {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 4.3rem;
          border-bottom: 1px solid rgba(216, 209, 239, 0.5);
          padding: 5rem 0;
          margin-bottom: 1rem;
          .detail {
            width: 100%;
            .info-con {
              width: 100%;
              .title {
                color: #33246a;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                margin-bottom: 1rem;
              }
              .test {
                column-gap: 3rem;
              }
              .info {
                color: #000;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 100%;
              }
            }
          }
        }
        .overview,
        .job-requirements,
        .benefits {
          .title {
            color: #000;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 215.023%;
          }
          p {
            color: #000;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 215.023%;
          }
        }
        .btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 19.3rem;
          margin: 6.4rem auto 0;
          row-gap: 1rem;
        }
      }
    }
    .saved-jobs-job-info-section2 {
      width: 40%;
    }
  }
  .main-section2 {
  }
  .apply {
    width: 87.3611%;
    margin: 5rem auto 0;
    .sec-1 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;
      @media screen and (max-width: '600px') {
        flex-direction: column;
        margin-bottom: 3.2rem;
      }
      .role-job-con {
        display: flex;
        width: 45.65%;
        justify-content: space-between;
        align-items: flex-start;
        // background-color: blue;
        @media screen and (max-width: '600px') {
          width: 100%;
          margin-bottom: 3.2rem;
        }
        .role-con {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          // background-color: green;
          @media screen and (max-width: '600px') {
            row-gap: 0;
          }
          .role {
            color: #000;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 117%;
            @media screen and (max-width: '600px') {
              font-size: 1.8rem;
            }
          }
          .company {
            color: #000;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media screen and (max-width: '600px') {
              font-size: 1.4rem;
            }
          }
        }
        .job-con {
          display: flex;
          align-items: center;
          column-gap: 2rem;
          // background-color: red;
          p {
            color: #33246a;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media screen and (max-width: '600px') {
              font-size: 1.4rem;
            }
          }
          .icon {
            margin-bottom: 0.5rem;
          }
        }
      }
      .img-wrapper {
        display: flex;
        column-gap: 5.6rem;
        width: 47.9%;
        // background-color: green;
        @media screen and (max-width: '500px') {
          column-gap: 0.8rem;
          width: 100%;
          align-items: center;
        }
        .img-con {
          width: 16rem;
          height: 16rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3.2rem;
          overflow: hidden;
          object-fit: cover;
          @media screen and (max-width: '500px') {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .details {
          .name {
            color: #33246a;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 186.023%;
            @media screen and (max-width: '500px') {
              font-size: 1.2rem;
              line-height: 100%;
              margin-bottom: 1rem;
            }
          }
          .role {
            color: #170f49;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 21.894px;
            margin-bottom: 2.8rem;
            @media screen and (max-width: '500px') {
              line-height: 100%;
              font-size: 1rem;
              margin-bottom: 0.5rem;
            }
          }
          p {
            color: #6f6c90;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 21.894px;
            @media screen and (max-width: '500px') {
              font-size: 1rem;
              line-height: 100%;
            }
          }
        }
      }
    }
    .email-address {
      margin-bottom: 5.4rem;
      @media screen and (max-width: '500px') {
        margin-bottom: 2.5rem;
      }
      .title {
        color: #6f6c90;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 21.894px;
        @media screen and (max-width: '600px') {
          font-size: 1.4rem;
          line-height: 100%;
        }
      }
      .loader-con {
        width: 70%;
        height: 4rem;
      }
      .email {
        color: #000;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 215.023%;
        @media screen and (max-width: '600px') {
          font-size: 1.2rem;
          line-height: 100%;
        }
      }
    }
    .resume {
      margin-bottom: 9.6rem;
      @media screen and (max-width: '500px') {
        margin-bottom: 4.5rem;
      }
      .title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;

        @media screen and (max-width: '500px') {
          margin-bottom: 0.7rem;
          line-height: 100%;
        }
        .title {
          color: #6f6c90;
          font-weight: 400;
          line-height: 100%;
          font-size: 3rem;
          @media screen and (max-width: '500px') {
            font-size: 1.4rem;
          }
        }
        .edit {
          color: #33246a;
          font-weight: 800;
          cursor: pointer;
          margin-bottom: -4rem !important;
          line-height: 100%;
          font-size: 3rem;
          @media screen and (max-width: '500px') {
            font-size: 1.4rem;
          }
        }
      }
      .resume-box-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .resume-box {
          width: 58.1944%;
          height: 12.1rem;
          border: 1px solid #33246a;
          display: flex;
          align-items: center;
          //   column-gap: 8.47255%;
          justify-content: space-between;
          @media screen and (max-width: '500px') {
            width: 100%;
            height: 9.6rem;
          }

          .pdf {
            width: 20.005731%;
            height: 100%;
            background: #be2a29;
            color: #fff;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 21.894px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: '500px') {
              font-size: 1.2rem;
              width: 19.4767%;
            }
          }
          .filename-wrapper {
            width: 38.3055%;
            font-weight: 400;
            color: #000;
            flex-direction: column;
            display: flex;
            div {
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              align-items: space-between;
              height: 80%;
              .filename {
                margin-top: auto;
                font-size: 2.4rem;
                line-height: 100%;
                @media screen and (max-width: '500px') {
                  font-size: 1.2rem;
                }
              }
              .filesize {
                font-size: 2rem;
                line-height: 100%;
                margin-bottom: auto;
                @media screen and (max-width: '500px') {
                  font-size: 1rem;
                }
              }
            }
          }
          .btn-con {
            margin-right: 4.8926%;
            @media screen and (max-width: '500px') {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .cover-letter {
      @media screen and (max-width: '500px') {
        margin-bottom: 1rem;
      }
      .title {
        color: #6f6c90;
        font-size: 3rem;
        line-height: 21.894px;
        margin-bottom: 6.1rem;
        @media screen and (max-width: '500px') {
          font-size: 1.4rem;
          margin-bottom: 2rem;
        }
      }
      .btn {
        padding: 0;
        button {
          display: flex;
          width: 255px;
          height: 61px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          border: 2px solid #33246a;
          background: #fff;
          color: #33246a;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 2px;
          @media screen and (max-width: '500px') {
            width: 19.3rem;
            height: 5.2rem;
            color: #33246a;
            font-size: 1.2rem;
            letter-spacing: 1.5px;
          }
        }
      }
    }

    .add-qstns {
      margin-bottom: 17.1rem;
      @media screen and (max-width: '500px') {
        margin-bottom: 9rem;
      }
      .title {
        color: #6f6c90;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 21.894px;
        text-decoration-line: underline;
        margin-bottom: 3rem;
        @media screen and (max-width: '500px') {
          font-size: 1.4rem;
          margin-bottom: 0;
        }
      }
      .qstn {
        margin-bottom: 6.4rem;
        @media screen and (max-width: '500px') {
          margin-bottom: 1.4rem;
        }
        p {
          color: #000;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 215.023%;
          @media screen and (max-width: '500px') {
            font-size: 1.2rem;
          }
        }
        .input-wrapper {
          .input-component {
            width: 100%;
            height: 4.2rem;
            border-radius: 8px;
            border: 1px solid rgba(128, 124, 139, 0.25);
          }
        }
        .radio {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 12rem;

          .radio-con {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            @media screen and (max-width: '500px') {
              column-gap: 1rem;
            }
            input {
              width: 2rem;
              height: 2rem;
              @media screen and (max-width: '500px') {
                width: 1.4rem;
                height: 1.4rem;
              }
            }
            input[type='checkbox'],
            input[type='radio'] {
              accent-color: #6f6c90;
            }
            label {
              color: #6f6c90;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 2.1894rem;
              @media screen and (max-width: '500px') {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
    .submit-btn {
      display: flex;
      justify-content: center;
      @media screen and (max-width: '500px') {
        margin-bottom: 32.8rem;
      }
    }
    .btn {
      display: flex;
      margin-bottom: 7.7rem;
    }
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}

@media screen and (max-width: '1300px') {
  .job-board-wrapper {
    .search-box-section {
      .search-box-component-wrapper {
        width: 72.3349514%;
      }
    }
    .main-section {
      .resource-cards-wrapper {
        .resource-card-component {
          .info {
            font-size: 1.3074rem;
            height: 7.7rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: '1024px') {
  .job-board-wrapper {
    .search-box-section {
      .search-box-component-wrapper {
        width: 65.3349514%;
      }
    }
    .main-section {
      width: 87.3611%;
      margin: 5rem auto 0;
      display: flex;
      align-items: flex-start;

      .recommended-filters-section {
        width: 50%;
        .recommended {
          .cards {
            .job-card {
              cursor: pointer;
              padding: 3.5rem 2.1rem;
              height: 20.8rem;
              .info {
                width: 100%;
                .role {
                  font-size: 2.2rem;
                }
                .company {
                  font-size: 2.2rem;
                  margin-bottom: 0.8rem;
                }
                .location {
                  font-size: 1.4rem;
                }
                .salary-type {
                  .salary,
                  .type {
                    h5 {
                      font-size: 1.4rem;
                    }
                  }
                }
                .just-posted {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
        .filters {
          width: 100%;
          column-gap: 3%;

          .main {
            width: 100%;
            .sec {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin-bottom: 6rem;
              .group {
                h5 {
                  font-size: 2rem;
                }
                .option {
                  display: flex;
                  column-gap: 2.4rem;
                  margin-bottom: 2.5rem;
                  label {
                    font-size: 2rem;
                  }
                }
              }
              .filter-by-location {
                margin-top: 7.8rem;
                .range {
                  p {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
      }
      .recommended-filters-section2 {
        width: 50%;
      }
      .saved-jobs-job-info-section {
        width: 50%;
        margin-top: 5rem;
        .saved-jobs-section {
          width: 90%;
          padding: 2rem 2rem 6rem;
          .saved-job {
            .info {
              .details {
                div {
                  .company {
                    font-size: 1.4rem;
                  }
                  .location {
                    font-size: 1.4rem;
                  }
                }
                .status {
                  width: 30%;
                }
              }
            }
          }
        }
        .saved-jobs-section2 {
          width: 90%;
        }
        .job-info {
          padding: 3rem 4.1rem;
          .role-hybrid-con {
            display: flex;
            justify-content: space-between;
            .role-con {
              .role {
                font-size: 2.2rem;
              }
              .company {
                font-size: 2.2rem;
              }
              .location {
                font-size: 1.4rem;
              }
            }
            .hybrid {
              row-gap: 4.6rem;
              p {
                font-size: 1.4rem;
              }
            }
          }
          .sec-2 {
            padding: 2rem 0;
            .detail {
              .info-con {
                .title {
                  font-size: 1.5rem;
                }
                .info {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .overview,
          .job-requirements,
          .benefits {
            .title {
              font-size: 2rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
          .btn {
            margin-top: 6.4rem;
            display: none !important;
            justify-content: center;
            flex-direction: column !important;
            row-gap: 2rem;
          }
        }
      }
      .saved-jobs-job-info-section2 {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: '600px') {
  .job-board-wrapper {
    .search-box-section {
      .search-box-component-wrapper {
        width: 65.3349514%;
      }
    }
    .tab-btns {
      display: flex;
      align-items: center;
      width: 50%;
      margin: 0.8rem auto 0;
      justify-content: space-between;
      button {
        border: none;
        padding: 0.8rem 0;
        font-size: 15.463px;
        font-weight: 600;
        line-height: normal;
      }
      .active {
        color: #33246a;
        border-bottom: 2px solid #ff66c4;
      }
      .inactive {
        color: #000;
        border-bottom: 2px solid #dfdee2;
      }
    }
    .main-section {
      margin: 2rem auto 0;
      display: flex;
      flex-direction: column;
      //   background-color: red;
      .recommended-filters-section {
        width: 100%;
        .recommended {
          .section-title h5 {
            display: none;
          }
          .show-mobile {
            display: block;
            color: #807c8b;
            font-size: 1.5463rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .cards {
            .job-card {
              width: 100%;
              padding: 2.5rem 2.8rem;
              display: flex;
              column-gap: 10.0997%;
              position: relative;
              height: 22rem;
              margin-bottom: 2rem;
              .img-con {
                width: 3.2rem;
                height: 3.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                object-fit: cover;
                margin-top: 1.2rem;
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .info {
                width: 100%;
                .role {
                  font-size: 1.4327rem;
                  margin-bottom: 1.5rem;
                }
                .company {
                  font-size: 1.4rem;
                  margin-bottom: 0.8rem;
                }
                .location {
                  color: rgba(0, 0, 0, 0.81);
                  font-size: 1.4rem;
                  font-style: normal;
                  font-weight: 500;
                  margin-bottom: 2rem;
                }
                .salary-type {
                  display: flex;
                  column-gap: 1.9rem;
                  margin-bottom: 3.2rem;
                  .salary,
                  .type {
                    display: flex;
                    align-items: center !important;
                    column-gap: 0.4rem;
                    .amount {
                      display: flex;
                      align-items: center;
                    }
                    h5 {
                      color: #33246a;
                      font-size: 1.4rem;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 0;
                      padding: 0.5rem 0 0 0;
                    }
                  }
                }
                .just-posted {
                  font-size: 1.4rem;
                }
              }
              .tag {
                position: absolute;
                top: 8.8235294%;
                top: 13.445378%;
                //   right: 5.21173%;
                right: 4.723127%;
              }
            }
            .selected-job {
              border-radius: 23.88px;
              background: rgba(216, 209, 239, 0.15);
            }
          }
        }
        .filters {
          display: flex;
          column-gap: 3%;
          flex-direction: column;
          .arrow {
            .hide-mobile {
              display: none;
            }
            .show-mobile {
              display: flex;
              align-items: center !important;
              column-gap: 2rem;
              margin-bottom: 3.2rem;
              h5 {
                color: #33246a;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 0;
                margin-top: 0.5rem;
                text-transform: capitalize;
              }
            }
          }
          .main {
            width: 100%;
            .section-title {
              h5 {
                display: none;
              }
            }
            .sec {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              margin-bottom: 2.3rem;
              row-gap: 2.3rem;
              .group {
                h5 {
                  font-size: 1.8rem;
                }
                .option {
                  display: flex;
                  column-gap: 1.6rem;
                  margin-bottom: 2.5rem;
                  input {
                    width: 1.5rem;
                    height: 1.5rem;
                  }
                  label {
                    font-size: 1.8rem;
                  }
                }
              }
              .filter-by-location {
                margin-top: 7.8rem;
                width: 68.8%;
                .range {
                  p {
                    font-size: 1.8rem;
                  }
                }
              }
            }
          }
        }
      }
      .recommended-filters-section2 {
        width: 100%;
      }
      .saved-jobs-job-info-section {
        z-index: 2;
        width: 100%;
        margin-top: 0;
        .saved-jobs-section {
          border-radius: 0;
          border: none;
          box-shadow: none;
          padding: 4.2rem 0 5.7rem;
          width: 100%;
          height: auto;
          .section-title h5 {
            display: none;
          }
          .saved-job {
            display: flex;
            column-gap: 2rem;
            border-bottom: 1px solid #d8d1ef;
            padding: 0.9rem 0;

            .img-con {
              width: 3.2rem;
              height: 3.2rem;
              margin-top: 1.2rem;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .info {
              display: flex;
              width: 100%;
              align-items: center;
              .details {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 1rem;
                div {
                  h5 {
                    font-size: 1.4327rem;
                  }
                  .company {
                    font-size: 1.4rem;
                  }
                  .location {
                    font-size: 1.5463rem;
                  }
                }
                .status {
                  font-size: 1rem;
                  width: 40%;
                }
              }
              .btn-con {
                display: none;
              }
            }
          }
        }
        .saved-jobs-section2 {
          width: 100%;
        }
        .job-info {
          border: none;
          box-shadow: none;
          padding: 1rem 1rem;
          width: 100% !important;
          height: auto;
          //   background-color: green;
          //   display: none;
          .back {
            display: block;
            margin: 2rem 0;
          }
          .role-hybrid-con {
            display: flex;
            justify-content: space-between;
            .role-con {
              .role {
                margin-bottom: 1.3rem;
                font-size: 1.8rem;
              }
              .company {
                font-size: 1.4rem;
              }
              .location {
                font-size: 1.5463rem;
              }
            }
            .hybrid {
              justify-content: space-between;
              row-gap: 3.1rem;
              .icon {
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              p {
                font-size: 1.5463rem;
              }
            }
          }
          .sec-2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 4.3rem;
            border-bottom: 1px solid rgba(216, 209, 239, 0.5);
            padding: 5rem 0;
            margin-bottom: 1rem;
            .detail {
              width: 100%;
              .icon {
                width: 1.7rem;
                height: 1.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .info-con {
                width: 100%;
                .title {
                  font-size: 1.4rem;
                  margin-bottom: 1rem;
                }
                .info {
                  font-size: 1.4rem;
                }
              }
            }
          }
          .overview,
          .job-requirements,
          .benefits {
            padding: 2.2rem 0;
            .title {
              line-height: 100%;
              font-size: 1.4327rem;
              margin-bottom: 0.3;
            }
            p {
              font-size: 1.4rem;
            }
          }
          .btn {
            margin-top: 6.4rem;
            display: flex;
            justify-content: center;
          }
        }
      }
      .saved-jobs-job-info-section2 {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: '500px') {
  .job-board-wrapper {
    .search-box-section {
      width: 91.466666%;
      flex-direction: column;
      row-gap: 1rem;
      .search-box-component-wrapper {
        width: 100%;
      }
    }
  }
}
