@import "index";
@import "colors";

.account-action-modal {
  padding: 0 40px 40px 40px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 70%;

  .acct-btn {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    align-items: start;
    column-gap: 40px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 21.89px;
      color: $alt-text-color;
    }
  }
}

.individual-action-modal {
  padding: 35px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  right: 5%;
  z-index: 2000;
  max-width: 300px;

  .modal-content {
    .header {
      font-size: 18px;
      font-weight: 700;
      color: $alt-text-color;
      margin-bottom: 10px;
      line-height: 21.89px;
    }

    .content {
      color: $alt-text-color;
      font-size: 13.19px;
      font-weight: 400;
      line-height: 23.5px;
    }

    .btn-wrapper {
      margin-top: 20px;
      .block-btn {
        background: #ec1515;
        color: #fff;
      }

      .cancel-btn {
        background-color: #fff;
        border: 2px solid #33246a;
        color: $pri-color1;
        margin-top: 20px;
      }

      .regular-btn {
        background: $pri-color1;
        color: #fff;
      }

      .bttn {
        width: 193px;
        height: 52px;
        border-radius: 6px;
        text-align: center;
        font-family: $thic700;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.report-content-wrapper {
  .report-modal {
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    z-index: 10000;
    top: 20%;
    left: 0;

    .report-header {
      font-weight: 700;
      color: $pri-color1;
      font-family: $thic700;
      font-size: 30px;
    }

    .reason-btn {
      width: 144px;
      height: 41px;
      padding: 0 20px;
      border-radius: 30px;
      border: 1px solid #7a6d9f;
      font-size: 12.44px;
      font-family: $thic700;
      font-weight: 700;
      color: #40496b;
      background-color: #fff;
      &.clicked {
        background-color: $pri-color1;
        color: #fff;
      }
    }

    .text-box-header {
      font-weight: 700;
      color: $pri-color1;
      font-family: $thic700;
      font-size: 24px;
    }

    .other-reason-input {
      width: 100%;
      height: 56px;
      padding: 17px 16px;
      box-sizing: border-box;
      border: 1px solid #cfd0d5;
      font-size: 16px;
      border-radius: 4px;
      &::placeholder {
        font-size: 16px;
        color: #b3b0b9;
      }
    }

    .step-two-wrapper {
      p {
        font-size: 16px;
        color: $alt-text-color;
        line-height: 30px;
      }
      textarea {
        width: 80%;
        height: 200px;
        border-radius: 4px;
        padding: 17px 16px;
        box-sizing: border-box;
        border: 1px solid #cfd0d5;
        &::placeholder {
          font-size: 16px;
          color: #b3b0b9;
        }
      }
    }

    .step-three-wrapper {
      ul {
        list-style-type: square;

        li {
          color: $pri-color1;
        }
      }

      .checkbox-wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
        input {
          width: 16px;
          height: 16px;
          border: 1px solid #33246a;
        }
        label {
          color: $pri-color1;
          font-size: 20px;
        }
      }
    }

    .final-step-wrapper {
      p {
        font-size: 16px;
        color: $alt-text-color;
      }
    }
  }
}

.close-account-modal {
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #9d8dd8;
  box-shadow: 0px 3.9095799922943115px 10.94682502746582px 0px #080f340a;
  z-index: 1000;
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width: 800px) {
  .account-action-modal {
    padding: 0 20px 20px 20px !important;
    top: 50% !important;

    .acct-btn {
      margin-top: 20px !important;
      column-gap: 20px !important;
      span {
        font-size: 14px !important;
      }
    }
  }

  .report-content-wrapper {
    .report-modal {
      padding: 20px !important;
      .report-header {
        font-size: 18px !important;
      }

      .text-box-header {
        font-size: 14px;
      }

      .other-reason-input {
        font-size: 12px;
        &::placeholder {
          font-size: 12px;
        }
      }

      .step-two-wrapper {
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }

      .step-three-wrapper {
        .checkbox-wrapper {
          label {
            font-size: 14px;
          }
        }
      }

      .final-step-wrapper {
        p {
          font-size: 12px;
        }
      }
    }
  }
}
