@import 'index';
@import 'colors';

.account-action-modal {
  padding: 0 40px 40px 40px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 3rem;
  width: 302px;
  height: 249px;

  .acct-btn {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    align-items: start;
    column-gap: 40px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 21.89px;
      color: $alt-text-color;
    }
  }
}
.share-box-modal {
  left: 0;
  width: 260px;
  height: 231px;
  padding: 2.5rem 3.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.7rem;

  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 3rem;
  // left: 50%;
  // transform: translateX(-50%);

  .acct-btn {
    // margin-top: 2.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    color: #807c8b;
    span {
      // font-weight: 700;
      // font-size: 18px;
      // line-height: 21.89px;
      // color: $alt-text-color;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23.457px;
    }
  }
}

.individual-action-modal {
  padding: 35px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  right: 5%;
  z-index: 2000;
  max-width: 300px;
  top: 13rem;
  @media screen and (max-width: 800px) {
    padding: 2rem;
  }
  .modal-content-con {
    .header {
      font-size: 18px;
      font-weight: 700;
      color: $alt-text-color;
      margin-bottom: 10px;
      line-height: 21.89px;

      @media screen and (max-width: 800px) {
        font-size: 14px !important;
      }
    }

    .content {
      color: $alt-text-color;
      font-size: 13.19px;
      font-weight: 400;
      line-height: 23.5px;
      @media screen and (max-width: 800px) {
        font-size: 12px !important;
      }
    }

    .btn-wrapper {
      margin-top: 20px;
      .block-btn {
        background: #ec1515;
        color: #fff;
      }

      .cancel-btn {
        background-color: #fff;
        border: 2px solid #33246a;
        color: $pri-color1;
        margin-top: 20px;
        @media screen and (max-width: 800px) {
          margin-top: 1rem;
        }
      }

      .regular-btn {
        background: $pri-color1;
        color: #fff;
      }

      .bttn {
        width: 193px;
        height: 52px;
        border-radius: 6px;
        text-align: center;
        font-family: $thic700;
        font-weight: 700;
        font-size: 16px;
        @media screen and (max-width: 800px) {
          height: 40px;
          width: 16rem;
        }
      }
    }
  }
}

.report-content-wrapper {
  .report-modal {
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    z-index: 10000;
    top: 20%;
    left: 0;

    .report-header {
      font-weight: 700;
      color: $pri-color1;
      font-family: $thic700;
      font-size: 30px;
    }

    .reason-btn {
      width: 144px;
      height: 41px;
      padding: 0 20px;
      border-radius: 30px;
      border: 1px solid #7a6d9f;
      font-size: 12.44px;
      font-family: $thic700;
      font-weight: 700;
      color: #40496b;
      background-color: #fff;
      &.clicked {
        background-color: $pri-color1;
        color: #fff;
      }
    }

    .text-box-header {
      font-weight: 700;
      color: $pri-color1;
      font-family: $thic700;
      font-size: 24px;
    }

    .other-reason-input {
      width: 100%;
      height: 56px;
      padding: 17px 16px;
      box-sizing: border-box;
      border: 1px solid #cfd0d5;
      font-size: 16px;
      border-radius: 4px;
      &::placeholder {
        font-size: 16px;
        color: #b3b0b9;
      }
    }

    .step-two-wrapper {
      p {
        font-size: 16px;
        color: $alt-text-color;
        line-height: 30px;
      }
      textarea {
        width: 80%;
        height: 200px;
        border-radius: 4px;
        padding: 17px 16px;
        box-sizing: border-box;
        border: 1px solid #cfd0d5;
        &::placeholder {
          font-size: 16px;
          color: #b3b0b9;
        }
      }
    }

    .step-three-wrapper {
      ul {
        list-style-type: square;

        li {
          color: $pri-color1;
        }
      }

      .checkbox-wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
        input {
          width: 16px;
          height: 16px;
          border: 1px solid #33246a;
        }
        label {
          color: $pri-color1;
          font-size: 20px;
        }
      }
    }

    .final-step-wrapper {
      p {
        font-size: 16px;
        color: $alt-text-color;
      }
    }
  }
}

.close-account-modal {
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #9d8dd8;
  box-shadow: 0px 3.9095799922943115px 10.94682502746582px 0px #080f340a;
  z-index: 1000;
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width: 800px) {
  .account-action-modal {
    padding: 0 20px 20px 20px !important;
    width: 202px;
    height: 149px;

    .acct-btn {
      margin-top: 20px !important;
      column-gap: 20px !important;
      span {
        font-size: 14px !important;
      }
    }
  }

  .report-content-wrapper {
    .report-modal {
      padding: 20px !important;
      .report-header {
        font-size: 18px !important;
      }

      .text-box-header {
        font-size: 14px;
      }

      .other-reason-input {
        font-size: 12px;
        &::placeholder {
          font-size: 12px;
        }
      }

      .step-two-wrapper {
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }

      .step-three-wrapper {
        .checkbox-wrapper {
          label {
            font-size: 14px;
          }
        }
      }

      .final-step-wrapper {
        p {
          font-size: 12px;
        }
      }
    }
  }
}
.update-profile-photo-modal {
  width: 350px;
  height: 197px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 3.90958px 10.94683px 0px rgba(8, 15, 52, 0.04);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 600px) {
    width: 260px;
    height: 150px;
    padding: 0 1.6rem;
  }
  h5 {
    color: #170f49;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.457px;
    margin-bottom: 2.7rem;
    @media screen and (max-width: 600px) {
      margin-bottom: 1.7rem;
      font-size: 1.6rem;
    }
  }
  .btn-group-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2.7rem;
    padding: 0 1.4rem;
    @media screen and (max-width: 600px) {
      row-gap: 1.7rem;
    }
    .btn-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #807c8b;
      cursor: pointer;
      .text-wrapper {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        p {
          font-size: 16px;
          font-weight: 400;
          margin: auto 0;
          @media screen and (max-width: 600px) {
            font-size: 14px;
          }
        }
      }
      .icon {
        font-size: 1.6rem;
        @media screen and (max-width: 600px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
.add-social-links-modal {
  width: 348px;
  height: 231px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 3.90958px 10.94683px 0px rgba(8, 15, 52, 0.04);
  padding: 2.1rem 2.3rem 5.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 600px) {
    width: 260px;
    height: 150px;
    padding: 0 2rem;
  }
  @media screen and (max-width: 500px) {
    transform: translateX(-50%);
  }
  .top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: green;
    p {
      color: #807c8b;
      cursor: pointer;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      @media screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
    h5 {
      color: #170f49;
      font-size: 18px;
      font-weight: 600;
      line-height: 23.457px;
      @media screen and (max-width: 600px) {
        font-size: 1.6rem;
      }
    }
  }
  .form {
    .input-con {
      display: flex;
      align-items: flex-end;
      column-gap: 2.4rem;
      height: 6.5rem;
      @media screen and (max-width: 600px) {
        height: 4rem;
      }
      p {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        margin: 0 0 0.1rem 0;
        display: flex;
        align-items: flex-end;
      }
      .input-wrapper {
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(119, 117, 117, 1);
        input {
          border: none;
          flex: 1 1 0%;
          @media screen and (max-width: 600px) {
            max-width: 15rem;
          }
        }
        .input-2 {
          @media screen and (max-width: 600px) {
            max-width: 15rem;
          }
        }
        input:focus {
          outline: none;
        }
        .icon-wrapper {
          width: 2.2rem;
          height: 2.2rem;
          background-color: #807c8b;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
