@import 'colors';
@import 'index';

.post-modal-mobile {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
  &.show-mobile {
    display: flex;
  }
  .modal-content {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem ;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
  }
}
