@import 'colors';
@import 'index';

.updates-wrapper {
  background-color: $body-bg;
  line-height: 100%;
  .top-section {
    .page-title-wrapper {
      padding: 14.2rem 0 0;
      @media screen and (max-width: '500px') {
        padding: 2.6rem 0 2.6rem;
        height: 18.3rem;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        @media screen and (max-width: '500px') {
          flex-direction: column;
          row-gap: 4.8rem;
          align-items: flex-start;
        }
        .icon {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h3 {
          color: #000;
          font-size: 4rem;
          line-height: 117%;
          margin: auto 0;

          @media screen and (max-width: '500px') {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
  .requests-wrapper {
    margin-bottom: 6.4rem;
    padding: 19.2rem 0 0;
    .requests-section-content {
      padding: 0 6.2rem 6.6rem;
      @media screen and (max-width: '800px') {
        padding: 0 0 6.6rem;
      }
      .section-title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        margin-bottom: 6.5rem;
        @media screen and (max-width: '500px') {
          margin-bottom: 4rem;
        }
        h5 {
          color: #000;
          font-size: 2.4rem;
          line-height: 117%;
          width: 60%;
          span {
            color: #b3b0b9;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 117%;
          }
          @media screen and (max-width: '800px') {
            font-size: 1.8rem;
          }
        }
      }
      .requests-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 4rem;
        justify-items: center;
        @media screen and (max-width: '1100px') {
          grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: '900px') {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  .whats-new-wrapper {
    .whats-new-section-content {
      padding: 0 6.2rem 0;
      @media screen and (max-width: '800px') {
        padding: 0 0 6.6rem;
      }
      .section-title-wrapper {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        padding-bottom: 4.1rem;
        @media screen and (max-width: '500px') {
          margin-bottom: 4rem;
        }
        h5 {
          color: #000;
          font-size: 2.4rem;
          line-height: 117%;
          width: 60%;
          span {
            color: #b3b0b9;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 117%;
          }
          @media screen and (max-width: '800px') {
            font-size: 1.8rem;
          }
        }
      }
      .section-content-wrapper {
        border-top: 2.376px solid #d8d1ef;

        padding: 5.6rem 0 8.9rem;
        .section-content {
          width: 85.6356rem;
          margin: 0 auto;

          .liked-your-comment {
            border-radius: 26.979px;
            background: #fff;
            padding: 4.1rem 4.9rem;
            display: flex;
            align-items: center;
            width: 100%;
            // height: 16.1939rem;
            margin-bottom: 1.696rem;
            .main-wrapper {
              display: flex;
              align-items: flex-start;
              column-gap: 1.83rem;
              img {
                width: 6.4044rem;
                height: 6.4044rem;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                object-fit: cover;
              }
              .content {
                display: flex;
                justify-content: space-between;
                flex: 1 1 0%;
                div {
                  width: 80%;
                  h3 {
                    color: #000;
                    font-size: 1.8298rem;
                    line-height: 26.749px;
                    margin-bottom: 0.77rem;
                  }
                  h5 {
                    color: #000;
                    font-size: 16.468px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26.749px;
                    p {
                      color: #000;
                      font-size: 12.809px;
                      font-weight: 400;
                      line-height: 21.717px;
                      display: inline;
                    }
                  }
                }
                .like {
                  font-size: 3rem;
                  color: #ff66c4;
                  margin-top: 1rem;
                }
              }
            }
          }
          .shared-your-post {
            border-radius: 26.979px;
            background: #fff;
            padding: 0 4.9rem;
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 1.696rem;
            .main-wrapper {
              display: flex;
              align-items: flex-start;
              column-gap: 1.83rem;
              width: 100%;
              img {
                width: 6.4044rem;
                height: 6.4044rem;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                object-fit: cover;
              }
              .content {
                width: 80%;
                .section-top {
                  display: flex;
                  justify-content: space-between;

                  div {
                    h3 {
                      color: #000;
                      font-size: 1.8298rem;
                      line-height: 26.749px;
                    }
                    h5 {
                      color: #000;
                      font-size: 1.6468rem;
                      font-weight: 600;
                      line-height: 26.749px; /* 162.427% */
                    }
                  }
                  .share {
                    color: #38b6ff;
                    font-size: 3rem;
                  }
                }
              }
            }
          }
          .commented {
            border-radius: 26.979px;
            background: #fff;
            padding: 4.1rem 4.9rem;
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 1.696rem;
            .main-wrapper {
              display: flex;
              align-items: flex-start;
              column-gap: 1.83rem;
              width: 100%;
              img {
                width: 6.4044rem;
                height: 6.4044rem;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                object-fit: cover;
              }
              .content {
                display: flex;
                justify-content: space-between;
                flex: 1 1 0%;
                div {
                  width: 80%;
                  h3 {
                    color: #000;
                    font-size: 1.8298rem;
                    line-height: 26.749px;
                    margin-bottom: 0.77rem;
                  }
                  h5 {
                    color: #000;
                    font-size: 16.468px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26.749px;
                    p {
                      color: #000;
                      font-size: 12.809px;
                      font-weight: 400;
                      line-height: 21.717px;
                      display: inline;
                    }
                  }
                }
                .comment-icon {
                  font-size: 3rem;
                  color: #33246a;
                  margin-top: 1rem;
                }
              }
            }
          }
          .load-more {
            display: flex;
            justify-content: center;
            margin: 4rem 0 0;
          }
        }
      }
    }
  }
  .news-wrapper {
    // padding: 7.2rem 0;
    .section-content {
      padding: 0 6.2rem 6.6rem;


      @media screen and (max-width: '800px') {
        padding: 0 0 6.6rem;
      }
      .title {
        border-top: 2.376px solid #d8d1ef;
        color: #000;
        font-size: 2.4rem;
        line-height: 117%;
        width: 100%;
        padding-bottom: 4.1rem;
        padding-top: 7.2rem;
        span {
          color: #b3b0b9;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 117%;
        }
        @media screen and (max-width: '800px') {
          font-size: 1.8rem;
        }
      }
      .info {
        color: #000;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 148%;
      }
      .cards-container {
        .view-all {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 1.6rem;
          button {
            color: #29335c;
            font-size: 2.1268rem;
            font-weight: 500;
            line-height: 24.776px;
          }
        }
        .cards-wrapper {
          display: flex;
          column-gap: 6.4rem;
        }
      }
    }
  }
}
